<div>
    <p class="flex flex-row justify-between">
        <span class="text-18 leading-6 font-semibold uppercase text-black">Sİparİş Özetİ</span>
        <span class="text-base leading-5 text-vivid-cerise font-semibold">
            (3 ürün)
        </span>
    </p>

    <ul class="text-black mt-18 py-10 border-y border-y-solid border-y-bright-gray3">
        <li class="flex flex-row justify-between items-center text-14 leading-10 mb-10 last:mb-0">
            <span>Ürün Toplamı</span>
            <span>689,97 TL</span>
        </li>

        <li class="flex flex-row justify-between items-center text-14 leading-10 mb-10 last:mb-0">
            <span>İndirimler</span>
            <span>20.00 TL</span>
        </li>

        <li class="flex flex-row justify-between items-center text-14 leading-10 mb-10 last:mb-0">
            <span>Kargo Toplam</span>
            <span>3,99 TL</span>
        </li>

        <li class="flex flex-row justify-between items-center text-14 leading-10 mb-10 last:mb-0">
            <span class="line-clamp-1 w-60per">Koton - 75 TL Üzeri Kar lorem ipsum</span>
            <span class="font-semibold text-vivid-cerise">-3,99 TL</span>
        </li>
        
        <li class="flex flex-row justify-between items-center text-14 leading-10 mb-10 last:mb-0">
            <span class="line-clamp-1 w-60per">Koton - Sepette %30 İnd lorem ipsum</span>
            <span class="font-semibold text-vivid-cerise">-206,99 TL</span>
        </li>
    </ul>

    <p class="flex flex-row justify-between items-center pt-10">
        <span class="text-18 leading-5 font-bold">Genel Toplam</span>
        <span class="text-24 leading-7 text-vivid-cerise font-black">
            482,98 TL
        </span>
    </p>
</div>