<a href="/blog-detail-page.html" title="blog title" class='flex flex-row mb-24 last:mb-0'>
    <figure class='rounded-2 overflow-hidden h-78 w-115'>
      <img src="img/blog-photo.jpg" width="115px" height="78px" alt='blog title' class='w-full h-full object-cover' />
    </figure>
    
    <article class='flex flex-col justify-between ml-15 w-calc115'>
        <h6 class='text-base leading-5 line-clamp-2 text-onyx1 font-semibold'>Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır...</h6>
        <p class='text-12 leading-4 text-onyx1 text-opacity-70'>14.02.2023</p>
    </article>
</a>