<div class='bg-flash-linear rounded-4 shadow-black-shadow-xs py-9 px-23 grid grid-cols-12 items-center'>
    <div class='col-span-6 flex justify-between items-center text-white'>
        <figure class='w-50 h-50 rounded-half'>
            <img src="img/icons/flash.svg" alt="flash" width="50px" height="50px" />
        </figure>

        <p class='text-24 leading-7 font-semibold'>
            Flaş İndirimler
        </p>

        <p class='text-24 leading-7 font-semibold'>
            Hemen Al, Fırsatı Kaçırma!
        </p>

        <!--if active time-->
            <div class='rounded-4 border border-solid border-white px-16 py-15 relative'>
                <div class='absolute -top-2 left-1/2 -translate-x-1/2 w-maxContent z-10 bg-purple-plum flex items-center justify-center text-12 leading-4 text-white font-semibold rounded-4 border border-solid border-white px-7'>
                    KALAN SÜRE 
                </div>

                @@include('../flash-page/flash-countdown.html')
            </div>
        <!--if active time-->
    </div>
    
    <div class="col-span-6 flex items-center text-14 leading-5 font-semibold justify-end">
        <button class="mr-16">
            <p class="bg-current-flash-linear text-black rounded-4 px-7 h-30 flex items-center justify-center whitespace-nowrap">
                16:30 - 18:30
            </p>
        </button>
        
        <button class="mr-16">
            <p class="bg-white text-black rounded-4 px-7 h-30 flex items-center justify-center whitespace-nowrap">
                19:00 - 21:30
            </p>
        </button>
        
        <button class="mr-16">
            <p class="bg-white text-black rounded-4 px-7 h-30 flex items-center justify-center whitespace-nowrap">
                22:00 - 23:59
            </p>
        </button>
        
        <button class="relative mr-36 last:mr-16">
            <p class="border border-solid border-white bg-transparent text-white rounded-4 px-7 h-30 flex items-center justify-center whitespace-nowrap">
                11:30 - 13:30
            </p>
            
            <span class="text-white text-12 leading-4 font-normal -rotate-90 absolute top-1/2 -translate-y-1/2 -right-8">
                YARIN
            </span>
        </button>
        
        <button class="relative mr-36 last:mr-16">
            <p class="border border-solid border-white bg-transparent text-white rounded-4 px-7 h-30 flex items-center justify-center whitespace-nowrap">
                14:00 - 16:00
            </p>
            
            <span class="text-white text-12 leading-4 font-normal -rotate-90 absolute top-1/2 -translate-y-1/2 -right-8">
                YARIN
            </span>
        </button>
    </div>
</div>