<div class='flex items-center justify-center text-14 leading-5 font-semibold'>
    <div class='w-30 h-30 rounded-4 bg-white flex items-center justify-center text-black'>
        00
    </div>

    <span class='text-white mx-5'>:</span>

    <div class='w-30 h-30 rounded-4 bg-white flex items-center justify-center text-black'>
        55
    </div>

    <span class='text-white mx-5'>:</span>

    <div class='w-30 h-30 rounded-4 bg-white flex items-center justify-center text-black'>
        52
    </div>
</div>