<div class="rounded-8 bg-white border border-vivid-cerise px-20-vw py-18-vw flex justify-between">
    <div class="flex">
        <div class="border border-dashed border-vivid-cerise rounded-8 w-85 h-85 p-7 text-center self-center">
            <span class="text-28-vw leading-9 text-vivid-cerise inline-flex mb-4">
                60
                <span class="text-18-vw mt-3 font-semibold">
                TL
                </span>
            </span>

            <span class="rounded-2 bg-vivid-cerise text-white text-14-vw leading-4 py-4 block w-full text-center">
                İNDİRİM
            </span>
        </div>

        <div class="flex flex-col justify-between h-full ml-18-vw">
            <h6 class="text-18-vw leading-6 font-semibold text-vivid-cerise">
                Koton
            </h6>

            <div>
                <p class="text-12-vw leading-4 font-semibold text-black mb-11-vw">
                    Alt limit:  
                    <span class="font-normal text-old-silver ml-2">300 TL</span>
                </p>

                <p class="text-12-vw leading-4 font-semibold text-black">
                    Son Kul. Tar.: 
                    <span class="font-normal text-old-silver ml-2">6 Nisan</span>
                </p>
            </div>
        </div>
    </div>

    <button class="rounded-8 border border-vivid-cerise text-12-vw leading-4 text-vivid-cerise font-semibold py-8 px-11-vw ml-8 h-max self-end min-w-60-vw">
        Uygula
    </button>

    <!--if clicked "Uygula", then change button to this-->
    <!-- <button class="rounded-8 border border-silver-sand text-12-vw leading-4 text-black font-semibold py-8 px-11-vw ml-8 h-max self-end min-w-60-vw">
        Kaldır
    </button> -->
    <!--if clicked "Uygula", then change button to this-->
</div>