<div>
    <h6 class="text-18 leading-10 text-black font-semibold mb-12">Sipariş Özeti</h6>

    <div class="pb-34 border-b border-b-solid border-b-bright-gray3">
        <ol class="list-none flex flex-col ml-3">
            <li class="relative text-black"> <!--done--> 
                <div class="relative bg-vivid-cerise h-40 w-1">
                    <div class="w-12 h-12 rounded-half border border-solid border-vivid-cerise bg-white absolute -0 left-1/2 -translate-x-1/2 flex items-center justify-center">
                        <span class="w-6 h-6 rounded-half bg-vivid-cerise block"></span>
                    </div>
                </div>
                <div class="absolute left-0 -top-1 pl-14 text-14 w-full">
                    <div class="flex items-center justify-between">
                        <span>
                            Ürün Toplamı
                        </span>
                        <span>
                            689,97 TL
                        </span>
                    </div>
                </div>
            </li>
        
            <li class="relative text-black"> <!--done--> 
                <div class="relative bg-vivid-cerise h-40 w-1">
                    <div class="w-12 h-12 rounded-half border border-solid border-vivid-cerise bg-white absolute top-0 left-1/2 -translate-x-1/2 flex items-center justify-center">
                        <span class="w-6 h-6 rounded-half bg-vivid-cerise block"></span>
                    </div>
                </div>
                <div class="absolute left-0 -top-1 pl-20 text-14 w-full">
                    <div class="flex items-center justify-between">
                        <span class="line-clamp-1 w-half">
                            Koton - 75 TL Üzeri Kar Koton - 75 TL Üzeri Kar
                        </span>
                        <span class="font-semibold text-vivid-cerise">
                            -3,99 TL
                        </span>
                    </div>
                </div>
            </li>

            <li class="relative text-black"> <!--done--> 
                <div class="relative bg-platinum3 h-40 w-1">
                    <div class="w-12 h-12 rounded-half border border-solid border-vivid-cerise bg-white absolute top-0 left-1/2 -translate-x-1/2 flex items-center justify-center">
                        <span class="w-6 h-6 rounded-half bg-vivid-cerise block"></span>
                    </div>
                </div>
                <div class="absolute left-0 -top-1 pl-20 text-14 w-full">
                    <div class="flex items-center justify-between">
                        <span class="line-clamp-1 w-half">
                            Koton - Sepette %30 İnd Koton - Sepette %30 İnd
                        </span>
                        <span class="font-semibold text-vivid-cerise">
                            -206,99 TL
                        </span>
                    </div>
                </div>                 
            </li>

            <li class="relative text-black"> <!--in progress--> 
                <div class="relative w-1">
                    <span class="w-6 h-6 rounded-half bg-platinum2 absolute top-0 left-1/2 -translate-x-1/2"></span>
                </div>   
                <div class="absolute left-0 -top-1 pl-20 text-14 w-full">
                    <div class="flex items-center justify-between">
                        <span>
                            Kargo Toplam
                        </span>
                        <span class="font-semibold text-gray2">
                            0,00 TL
                        </span>
                    </div>
                </div>
            </li>
        </ol>
    </div>

    <div class=" border-b border-b-solid border-b-bright-gray3 py-11">
        <h6 class="text-base font-semibold leading-10">İndirim kodu gir</h6>
        <div class="flex flex-col">
            <div class="border border-solid border-platinum rounded-6 bg-snow px-13">
                <select class="w-full bg-transparent outline-none py-9 text-14 leading-4 text-davys-grey text-opacity-80">
                    <option>İndirim kuponu seç</option>
                    <option>1</option>
                    <option>2</option>
                </select>
            </div>
        </div>

        <div class="flex flex-row mt-10 gap-2.5">
            <input
            class="w-full  border border-solid border-platinum rounded-6 bg-snow outline-none py-11 px-13 placeholder:text-14 placeholder:leading-4 placeholder:text-gray2 text-14 leading-4 text-black"
            type="text"
            placeholder="Kodunuzu giriniz"
            />

            <button class="border text-vivid-cerise border-vivid-cerise py-10 px-20 text-base font-semibold leading-5 rounded-8">Ekle</button>
        </div>
    </div>

    <div class="py-8 border-b border-b-solid border-b-bright-gray3 flex justify-between items-center visible sm:hidden xs:hidden xxs:hidden">
        <h6 class="text-18 leading-10 text-black font-semibold">Sipariş Özeti</h6>
        <span class="text-24 leading-10 text-vivid-cerise font-black">
            482,98 TL
        </span>
    </div>

    

    <div class="pt-22">
        <label class="accept-checkbox flex items-center text-12 leading-4 text-black">
            <input class="hidden" type="checkbox" name="accept" />

            <span class="block w-24 h-24 rounded-8 border-2 border-solid border-light-silver1 mr-11 bg-no-repeat bg-center cursor-pointer"></span>
            
            <p class="w-calc24">
                <a href="#" title="Ön Bilgilendirme Koşulları" class="font-semibold inline">
                    Ön Bilgilendirme Koşulları
                </a>nı ve 

                <a href="#" title="Mesafeli Satış Sözleşmesi" class="font-semibold ml-3">
                    Mesafeli Satış Sözleşmesi
                </a>'ni okudum, onaylıyorum.
            </p>
        </label>
    </div>
   
</div>