<div class="flex flex-col first:pt-0 pt-20 pb-32 border-b border-solid border-b-bright-gray4">
    <div class="flex flex-row justify-between items-center">
        <div class="text-spanish-gray2 text-12 leading-4 font-semibold border border-solid border-spanish-gray2 rounded-6 flex items-center py-3 px-5">
            <FaUserAlt class="mr-9" />
            Marvin Farrell Schmidt | 25 Nisan 2020
        </div>

        <p class='flex items-center text-american-green text-12 leading-4 font-semibold'>
            Ürünü satın aldı
            <img src="img/bag-check.svg" alt="bag" width="11px" height="14px" class='ml-8' />
        </p>
    </div>

    <div>
        <p class="text-14 leading-6 text-black text-opacity-60 pt-4">
            <span class='font-bold mr-3'>
                Soru: 
            </span>
            Ben ürünü sipariş verdimde bozuk çıkma olasılığı var mı?
        </p>

        <p class="text-14 leading-6 text-black text-opacity-60 pt-4">
            <span class='font-bold mr-3'>
                Cevap: 
            </span>
            Tüm Arzum ürünlerimiz 3 Yıl Arzum garantisi altında olup, garanti süresi boyunca tüm Arzum Yetkili Servislerinden fatura ve garanti belgesi ile hizmet alabilirsiniz
        </p>

        <span class='text-12 leading-4 text-spanish-gray2'>
            5 gün içinde cevaplandı
        </span> 
    </div>
</div>