<div class="flex justify-center fixed top-0 right-0 bottom-0 left-0 h-screen z-100">
    <div class="bg-black w-full h-full opacity-60"></div>

    <div class="bg-white opacity-100 w-42per pt-30 pb-41 pl-38 pr-29 z-100 absolute top-20 self-center rounded-8 shadow-black-shadow-2md">
      <div>
        <button
          class="absolute top-5 right-5 w-32 h-32 rounded-half bg-vivid-cerise text-base text-white flex items-center justify-center z-10"
        >
          <AiOutlineClose class="text-21" />
        </button>

        <div class="mb-30">
          <h5 class="text-18 leading-6 font-semibold text-black">
            Üyelik koşulları
          </h5>
        </div>

        <article class="text-14 leading-5 text-black max-h-500 overflow-y-auto pr-26">
          <p>
            <span class="font-semibold mr-4">Lorem Ipsum</span>
            is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry standard dummy text ever since
            the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic
            typesetting, remaining essentially unchanged. It was popularised
            in the 1960s with the release of Letraset sheets containing
            Lorem Ipsum passages, and more recently with desktop publishing
            software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>
          <br />
          <p>
            <span class="font-semibold mr-4">Lorem Ipsum</span>
            is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry standard dummy text ever since
            the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic
            typesetting, remaining essentially unchanged. It was popularised
            in the 1960s with the release of Letraset sheets containing
            Lorem Ipsum passages, and more recently with desktop publishing
            software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>
          <br />
          <p>
            <span class="font-semibold mr-4">Lorem Ipsum</span>
            is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry standard dummy text ever since
            the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic
            typesetting, remaining essentially unchanged. It was popularised
            in the 1960s with the release of Letraset sheets containing
            Lorem Ipsum passages, and more recently with desktop publishing
            software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>
          <br />
          <p>
            <span class="font-semibold mr-4">Lorem Ipsum</span>
            is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry standard dummy text ever since
            the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic
            typesetting, remaining essentially unchanged. It was popularised
            in the 1960s with the release of Letraset sheets containing
            Lorem Ipsum passages, and more recently with desktop publishing
            software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>
          <br />
          <p>
            <span class="font-semibold mr-4">Lorem Ipsum</span>
            is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry standard dummy text ever since
            the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic
            typesetting, remaining essentially unchanged. It was popularised
            in the 1960s with the release of Letraset sheets containing
            Lorem Ipsum passages, and more recently with desktop publishing
            software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>
          <br />
          <p>
            <span class="font-semibold mr-4">Lorem Ipsum</span>
            is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry standard dummy text ever since
            the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic
            typesetting, remaining essentially unchanged. It was popularised
            in the 1960s with the release of Letraset sheets containing
            Lorem Ipsum passages, and more recently with desktop publishing
            software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>
          <br />
          <p>
            <span class="font-semibold mr-4">Lorem Ipsum</span>
            is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry standard dummy text ever since
            the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic
            typesetting, remaining essentially unchanged. It was popularised
            in the 1960s with the release of Letraset sheets containing
            Lorem Ipsum passages, and more recently with desktop publishing
            software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>
          <br />
          <p>
            <span class="font-semibold mr-4">Lorem Ipsum</span>
            is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry standard dummy text ever since
            the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic
            typesetting, remaining essentially unchanged. It was popularised
            in the 1960s with the release of Letraset sheets containing
            Lorem Ipsum passages, and more recently with desktop publishing
            software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>
          <br />
          <p>
            <span class="font-semibold mr-4">Lorem Ipsum</span>
            is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry standard dummy text ever since
            the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic
            typesetting, remaining essentially unchanged. It was popularised
            in the 1960s with the release of Letraset sheets containing
            Lorem Ipsum passages, and more recently with desktop publishing
            software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>
          <br />
          <p>
            <span class="font-semibold mr-4">Lorem Ipsum</span>
            is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry standard dummy text ever since
            the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic
            typesetting, remaining essentially unchanged. It was popularised
            in the 1960s with the release of Letraset sheets containing
            Lorem Ipsum passages, and more recently with desktop publishing
            software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>
        </article>

        <button
          class="rounded-6 border border-solid border-vivid-cerise text-14 leading-5 font-semibold text-vivid-cerise py-11 px-60 mx-auto block mt-44"
        >
          Geri dön
        </button>
      </div>
    </div>
</div>