<div class="flex justify-center fixed top-0 right-0 bottom-0 left-0 h-screen z-100">
    <div class="bg-black w-full h-full opacity-60"></div>

    <div class='absolute z-100 top-32 self-center rounded-4 border border-solid border-bright-gray1 bg-white overflow-hidden h-half w-30per'>

        <button class="absolute top-2 right-2 w-32 h-32 rounded-half bg-vivid-cerise text-base text-white flex items-center justify-center z-10">
            <AiOutlineClose />
        </button>

        <div class="slider-prev absolute left-4 top-1/2 -translate-y-1/2 z-10 cursor-pointer">
            <img src="img/icons/left-arrow.svg" alt='left-arrow' width="19px" height="36px" />
        </div>

        <div class="swiper productDetailSwiper w-full h-full">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <figure class="flex items-center justify-center w-full h-full">
                        <img src="img/lip-gloss1.jpg" alt="product" width="562px" height="843px" class="w-full h-full max-h-full max-w-full object-contain" />
                    </figure>
                </div>
    
                <div class="swiper-slide">
                    <figure class="flex items-center justify-center w-full h-full">
                        <img src="img/lip-gloss2.jpg" alt="product" width="562px" height="843px" class="w-full h-full max-h-full max-w-full object-contain" />
                    </figure>
                </div>
    
                <div class="swiper-slide">
                    <figure class="flex items-center justify-center w-full h-full">
                        <img src="img/lip-gloss3.jpg" alt="product" width="562px" height="843px" class="w-full h-full max-h-full max-w-full object-contain" />
                    </figure>
                </div>
    
                <div class="swiper-slide">
                    <figure class="flex items-center justify-center w-full h-full">
                        <img src="img/lip-gloss4.jpg" alt="product" width="562px" height="843px" class="w-full h-full max-h-full max-w-full object-contain" />
                    </figure>
                </div>
    
                <div class="swiper-slide">
                    <figure class="flex items-center justify-center w-full h-full">
                        <img src="img/lip-gloss5.jpg" alt="product" width="562px" height="843px" class="w-full h-full max-h-full max-w-full object-contain" />
                    </figure>
                </div>
    
                <div class="swiper-slide">
                    <figure class="flex items-center justify-center w-full h-full">
                        <img src="img/lip.jpg" alt="product" width="562px" height="843px" class="w-full h-full max-h-full max-w-full object-contain" />
                    </figure>
                </div>
            </div>
        </div>

        <div class="slider-next absolute right-4 top-1/2 -translate-y-1/2 z-10 cursor-pointer">
            <img src="img/icons/right-arrow.svg" alt='right-arrow' width="19px" height="36px" />
        </div>
    </div>
</div>