<div class="flex justify-center fixed top-0 right-0 bottom-0 left-0 h-screen z-100">
    <div class="bg-black w-full h-full opacity-60"></div>

    <div class="w-20per bg-white opacity-100 pb-28 px-27 pt-31 z-100 absolute top-20 self-center rounded-6 shadow-black-shadow-2md">
        <div>
            <button class="absolute top-5 right-5 w-32 h-32 rounded-half bg-vivid-cerise shadow-rossoCorsa-shadow-sm text-base text-white flex items-center justify-center">
                <AiOutlineClose />
            </button>    

            <div class='text-center'>
                <img src="img/icons/make-fav-icon.svg" alt="fav" width="60px" height="60px" class="mx-auto mb-15" />

                <h6 class="text-18 leading-6 font-semibold text-black">
                    Delete Address
                </h6>

                <p class="text-spanish-gray1 text-13 leading-5 mt-5 mb-30">
                    Are you sure?
                </p>

                <div class='grid grid-cols-2 gap-5'>
                    <button 
                    class='rounded-6 border border-solid border-vivid-cerise text-base leading-5 tracking-wider font-semibold text-vivid-cerise h-40 flex items-center justify-center text-center'>
                        No
                    </button>

                    <button type="submit" 
                    class='rounded-6 shadow-fashion-fuchsia bg-vivid-cerise text-base leading-5 tracking-wider font-semibold text-white h-40 flex items-center justify-center text-center'>
                        Yes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>