<div class='flex flex-col container mx-auto max-w-full'>
    <div class="grid grid-cols-12 bg-white rounded-8 shadow-black-shadow-sm py-20 px-24">
        <div class="col-span-3">
            <h6 class="font-semibold text-14 leading-5 text-black uppercase">
                CÜZDANIM
            </h6>
        </div>
    </div>

    <div class='grid grid-cols-12 my-28 gap-7'>
        @@include('../account-menu.html')

        <div class='col-span-9'>
            <div class="grid grid-cols-2 gap-4">
                <div class="rounded-8 bg-white shadow-black-shadow-2sm p-40">
                    <h6
                    class="text-18 leading-6 text-black font-bold pl-9 relative mb-28 
                    before:content[] before:absolute before:left-0 before:w-4 before:h-full before:rounded-2 before:bg-vivid-cerise"
                    >
                        Cozmetica Cüzdanım
                    </h6>
          
                    <div class="pink-gradient shadow-rossoCorsa-shadow-2xs rounded-18 h-210 overflow-hidden relative py-19 px-23 text-white flex flex-col justify-between cursor-pointer">
                      <img
                        src="img/card-back.svg"
                        alt="card"
                        width="470px"
                        height="210px"
                        class="w-full h-full absolute top-0 left-0 object-cover"
                      />
                        <div class="flex items-center justify-between cursor-pointer">
                          <div>
                            <h6 class="text-18 leading-6 font-semibold mb-5">Bakiye</h6>
          
                            <p class="text-24 leading-7 font-black">100.00 TL</p>
                          </div>
          
                          <div class="text-right">
                            <p class="text-14 leading-4 mb-5">Son eklenen tarih</p>
          
                            <p class="text-base leading-5 font-bold">29.12.2021</p>
                          </div>
                        </div>
                        <div class="flex items-end justify-between">
                        <a
                          href="#"
                          title="Yardım"
                          class="flex items-center text-13 leading-4"
                        >
                          <AiOutlineInfoCircle class="mr-9" />
                          Yardım
                        </a>
          
                        <button class="rounded-8 drop-shadow-rossoCorsa-shadow border border-solid border-white p-15 text-white text-base leading-4 font-semibold">
                          Cashbacki kullan
                        </button>
                      </div>
                    </div>
          
                    <h5 class="text-20 leading-5 text-onyx1 font-semibold tracking-sl pl-18 relative mb-30 mt-42
                    before:content[] before:absolute before:left-0 before:w-4 before:h-full before:rounded-2 before:bg-vivid-cerise"
                    >
                        Kullanım Geçmişi
                    </h5>
          
                    <div class="rounded-8 border border-solid border-bright-gray3 pl-20 py-18 pr-13">
                        <div class="pr-23 max-h-340 overflow-y-auto">

                            <div class="flex justify-between mb-24 last:mb-0">
                                <div class="flex">
                                    <span class="bg-vivid-cerise w-8 h-8 rounded-half mr-10 mt-6"></span>
            
                                    <div class="w-calc18full flex flex-col">
                                        <p class="text-14 leading-5 font-semibold tracking-sl text-onyx1 flex items-center">
                                            Reebok Spor Ayakkabı
                                        </p>
                
                                        <span class="text-13 leading-4 text-onyx1 text-opacity-60 tracking-sl">
                                            01 Temmuz 2022  |  12:00
                                        </span>
                                    </div>
                                </div>
            
                                <p class="text-base leading-5 tracking-sl text-onyx1 whitespace-nowrap">
                                    400 TL
                                </p>
                            </div>

                            <div class="flex justify-between mb-24 last:mb-0">
                                <div class="flex">
                                    <span class="bg-vivid-cerise w-8 h-8 rounded-half mr-10 mt-6"></span>
            
                                    <div class="w-calc18full flex flex-col">
                                        <p class="text-14 leading-5 font-semibold tracking-sl text-onyx1 flex items-center">
                                            Reebok Spor Ayakkabı
                                        </p>
                
                                        <span class="text-13 leading-4 text-onyx1 text-opacity-60 tracking-sl">
                                            01 Temmuz 2022  |  12:00
                                        </span>
                                    </div>
                                </div>
            
                                <p class="text-base leading-5 tracking-sl text-onyx1 whitespace-nowrap">
                                    400 TL
                                </p>
                            </div>

                            <div class="flex justify-between mb-24 last:mb-0">
                                <div class="flex">
                                    <span class="bg-vivid-cerise w-8 h-8 rounded-half mr-10 mt-6"></span>
            
                                    <div class="w-calc18full flex flex-col">
                                        <p class="text-14 leading-5 font-semibold tracking-sl text-onyx1 flex items-center">
                                            Reebok Spor Ayakkabı
                                        </p>
                
                                        <span class="text-13 leading-4 text-onyx1 text-opacity-60 tracking-sl">
                                            01 Temmuz 2022  |  12:00
                                        </span>
                                    </div>
                                </div>
            
                                <p class="text-base leading-5 tracking-sl text-onyx1 whitespace-nowrap">
                                    400 TL
                                </p>
                            </div>

                            <div class="flex justify-between mb-24 last:mb-0">
                                <div class="flex">
                                    <span class="bg-vivid-cerise w-8 h-8 rounded-half mr-10 mt-6"></span>
            
                                    <div class="w-calc18full flex flex-col">
                                        <p class="text-14 leading-5 font-semibold tracking-sl text-onyx1 flex items-center">
                                            Reebok Spor Ayakkabı
                                        </p>
                
                                        <span class="text-13 leading-4 text-onyx1 text-opacity-60 tracking-sl">
                                            01 Temmuz 2022  |  12:00
                                        </span>
                                    </div>
                                </div>
            
                                <p class="text-base leading-5 tracking-sl text-onyx1 whitespace-nowrap">
                                    400 TL
                                </p>
                            </div>

                            <div class="flex justify-between mb-24 last:mb-0">
                                <div class="flex">
                                    <span class="bg-vivid-cerise w-8 h-8 rounded-half mr-10 mt-6"></span>
            
                                    <div class="w-calc18full flex flex-col">
                                        <p class="text-14 leading-5 font-semibold tracking-sl text-onyx1 flex items-center">
                                            Reebok Spor Ayakkabı
                                        </p>
                
                                        <span class="text-13 leading-4 text-onyx1 text-opacity-60 tracking-sl">
                                            01 Temmuz 2022  |  12:00
                                        </span>
                                    </div>
                                </div>
            
                                <p class="text-base leading-5 tracking-sl text-onyx1 whitespace-nowrap">
                                    400 TL
                                </p>
                            </div>

                            <div class="flex justify-between mb-24 last:mb-0">
                                <div class="flex">
                                    <span class="bg-vivid-cerise w-8 h-8 rounded-half mr-10 mt-6"></span>
            
                                    <div class="w-calc18full flex flex-col">
                                        <p class="text-14 leading-5 font-semibold tracking-sl text-onyx1 flex items-center">
                                            Reebok Spor Ayakkabı
                                        </p>
                
                                        <span class="text-13 leading-4 text-onyx1 text-opacity-60 tracking-sl">
                                            01 Temmuz 2022  |  12:00
                                        </span>
                                    </div>
                                </div>
            
                                <p class="text-base leading-5 tracking-sl text-onyx1 whitespace-nowrap">
                                    400 TL
                                </p>
                            </div>

                            <div class="flex justify-between mb-24 last:mb-0">
                                <div class="flex">
                                    <span class="bg-vivid-cerise w-8 h-8 rounded-half mr-10 mt-6"></span>
            
                                    <div class="w-calc18full flex flex-col">
                                        <p class="text-14 leading-5 font-semibold tracking-sl text-onyx1 flex items-center">
                                            Reebok Spor Ayakkabı
                                        </p>
                
                                        <span class="text-13 leading-4 text-onyx1 text-opacity-60 tracking-sl">
                                            01 Temmuz 2022  |  12:00
                                        </span>
                                    </div>
                                </div>
            
                                <p class="text-base leading-5 tracking-sl text-onyx1 whitespace-nowrap">
                                    400 TL
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
          
                <div class="rounded-8 bg-white shadow-black-shadow-2sm p-40 pb-0">
                    <h6 class="text-18 leading-6 text-black font-bold pl-9 relative mb-28 
                    before:content[] before:absolute before:left-0 before:w-4 before:h-full before:rounded-2 before:bg-vivid-cerise"
                    >
                        Cashback kartlarım
                    </h6>
                    
                    <div>
                        @@include('./vip-card.html')
                        @@include('./vip-card.html')
                        @@include('./vip-card.html')
                        @@include('./vip-card.html')
                    </div>

                    @@include('../../utils/pagination.html')
                </div>
            </div>
        </div>
    </div>
</div>