<div class="rounded-8 bg-white shadow-black-shadow-2sm mb-20 overflow-hidden cursor-pointer">
    <div class='p-15 pr-25 border border-solid border-dark-gray border-opacity-10 grid grid-cols-8 gap-5'>
        <figure class='w-47 h-47 border border-solid border-bright-gray3 rounded-half overflow-hidden col-span-1'>
            <img src="img/brand.jpg" alt="brand" width="47px" height="47px" class="w-full h-full object-cover" />
        </figure>

        <div class='col-span-7 flex items-center justify-between'>
            <h6 class='text-20 leading-6 font-semibold text-raisin-black'>
                Reebok
            </h6>

            <span class='text-24 leading-8 text-raisin-black mt-5 block font-semibold'>
                100 TL
            </span>
        </div>
        
        <div class='col-span-8 flex items-center justify-between mt-5'>
            <p class='text-12 leading-4 font-bold text-raisin-black'>
                <span class='block text-granite-gray font-normal'>Son kullanım:</span>
                29.12.2021
            </p>

            <a href="/store.html"
            title='Mağazaya Git'
            class='rounded-4 border border-solid border-vivid-cerise text-12 leading-4 font-semibold text-vivid-cerise py-5 px-15'>
                Mağazaya Git
            </a>
        </div>
    </div>
</div>