<section class="bg-light-steel-blue bg-opacity-25 pt-25 lg:pt-20 md:pt-20 2xl:pt-52 xl:pt-52 pb-34 2xl:pb-58 xl:pb-58">
    <div class="container max-w-full">
        <h4 class="text-18 2xl:text-22 xl:text-22 leading-6 2xl:leading-7 xl:leading-7 text-onyx text-center uppercase font-bold dark:text-white">
            Best Seller Products
        </h4>

        <div class="mt-20 lg:mt-25 md:mt-25 2xl:mt-44 xl:mt-44">
            @@include('../product/product-carousel.html')

            <a
                title="Tümünü gör"
                href ="#"
                type="button"
                class="block text-center w-maxContent sm:w-full xs:w-full xxs:w-full mt-28 lg:mt-40 md:mt-40 2xl:mt-55 xl:mt-55 mx-auto px-73 2xl:px-61 xl:px-61 py-10 2xl:py-15 xl:py-15 bg-vivid-cerise rounded-8 2xl:rounded-15 xl:rounded-15 shadow-rossoCorsa-shadow-sm text-white text-base leading-5 font-semibold"
            >
                Tümünü gör
            </a>
        </div>
    </div>
</section>