<section class="bg-white pt-30 lg:pt-28 md:pt-28 2xl:pt-49 xl:pt-49 pb-19 lg:pb-33 md:pb-33 2xl:pb-107 xl:pb-107">
    <div class="container max-w-full">
        <h4 class="text-18 2xl:text-22 xl:text-22 leading-6 2xl:leading-7 xl:leading-7 text-onyx text-center uppercase font-bold dark:text-white">
            Best Seller Stores
        </h4>

        <div class="sm:block xs:block xxs:block grid grid-cols-2 gap-x-5 gap-y-4 2xl:gap-7 xl:gap-7 mt-30 lg:mt-27 md:mt-27 2xl:mt-54 xl:mt-54">
            <a
                title="title"
                href="#"
                class="sm:mb-20 xs:mb-20 xxs:mb-20 block rounded-8 lg:rounded-4 md:rounded-4 drop-shadow-black-shadow-3sm h-138 lg:h-169 md:h-169 2xl:h-350 xl:h-350 overflow-hidden"
            >
                <img
                src="img/brand.png"
                alt="store"
                width="738px"
                height="350px"
                class="w-full h-full object-cover"
                />
            </a>

            <a
                title="title"
                href="#"
                class="sm:mb-20 xs:mb-20 xxs:mb-20 block rounded-8 lg:rounded-4 md:rounded-4 drop-shadow-black-shadow-3sm h-138 lg:h-169 md:h-169 2xl:h-350 xl:h-350 overflow-hidden"
            >
                <img
                src="img/brand.png"
                alt="store"
                width="738px"
                height="350px"
                class="w-full h-full object-cover"
                />
            </a>

            <a
                title="title"
                href="#"
                class="sm:mb-20 xs:mb-20 xxs:mb-20 block rounded-8 lg:rounded-4 md:rounded-4 drop-shadow-black-shadow-3sm h-138 lg:h-169 md:h-169 2xl:h-350 xl:h-350 overflow-hidden"
            >
                <img
                src="img/brand.png"
                alt="store"
                width="738px"
                height="350px"
                class="w-full h-full object-cover"
                />
            </a>

            <a
                title="title"
                href="#"
                class="sm:mb-20 xs:mb-20 xxs:mb-20 block rounded-8 lg:rounded-4 md:rounded-4 drop-shadow-black-shadow-3sm h-138 lg:h-169 md:h-169 2xl:h-350 xl:h-350 overflow-hidden"
            >
                <img
                src="img/brand.png"
                alt="store"
                width="738px"
                height="350px"
                class="w-full h-full object-cover"
                />
            </a>
        </div>
    </div>
</section>