<section class="bg-light-steel-blue bg-opacity-25 pt-19 lg:pt-24 md:pt-24 2xl:pt-37 xl:pt-37 pb-25 lg:pb-49 md:pb-49 2xl:pb-47 xl:pb-47">
    <div class="container max-w-full">
        <h4 class="text-18 2xl:text-22 xl:text-22 leading-6 2xl:leading-7 xl:leading-7 text-onyx text-center uppercase font-bold">BLOG</h4>

        <div class="grid grid-cols-2 xxs:grid-cols-1 lg:grid-cols-3 md:grid-cols-3 2xl:grid-cols-4 xl:grid-cols-4 gap-5 2xl:gap-7 xl:gap-7 mt-20 lg:mt-22 md:mt-22 2xl:mt-31 xl:mt-31">
            @@include('../blogs/blog-card.html')
            @@include('../blogs/blog-card.html')
            @@include('../blogs/blog-card.html')
            @@include('../blogs/blog-card.html')
        </div>

        <a title="Tümünü gör" href="/blog-page.html" type="button" class="block text-center w-maxContent sm:w-full xs:w-full xxs:w-full mt-25 lg:mt-42 md:mt-42 2xl:mt-47 xl:mt-47 mx-auto lg:px-73 md:px-73 2xl:px-61 xl:px-61 py-11 lg:py-10 md:py-10 2xl:py-15 xl:py-15 bg-vivid-cerise rounded-8 2xl:rounded-15 xl:rounded-15 shadow-rossoCorsa-shadow-sm text-white text-base leading-5 sm:text-14 xs:text-14 xxs:text-14 sm:leading-4 xs:leading-4 xxs:leading-4 font-semibold">
          Tümünü gör
        </a>
        
    </div>
</section>