<section class="bg-white pt-21 lg:pt-28 md:pt-28 2xl:pt-42 xl:pt-42 pb-35 lg:pb-30 md:pb-30 2xl:pb-51 xl:pb-51">
    <div class="container max-w-full">
        <div class="grid grid-cols-2 lg:grid-cols-4 md:grid-cols-4 2xl:grid-cols-4 xl:grid-cols-4 sm:gap-4 xs:gap-4 xxs:gap-4">

            <!--service item-->
            <div class="lg:px-10 md:px-10 2xl:px-44 xl:px-44 flex flex-col items-center relative text-center sm:after:content-none xs:after:content-none xxs:after:content-none
            after:content[] after:absolute after:top-1/2 after:-translate-y-1/2 after:right-0 after:bg-columbia-blue after:w-1 after:h-full 2xl:after:h-half xl:after:h-half last:after:content-none
            ">
                <figure class='h-128 sm:h-64 xs:h-64 xxs:h-64'>
                    <img class='object-cover h-full' src="img/delivery.svg" alt="advantage" width="128px" height="128px" />
                </figure>

                <h6 class="mt-3 lg:mt-10 md:mt-10 2xl:mt-22 xl:mt-22 mb-5 lg:mb-12 md:mb-12 2xl:mb-16 xl:mb-16 text-14 lg:text-base md:text-base 2xl:text-22 xl:text-22 leading-5 2xl:leading-7 xl:leading-7 font-bold text-black">
                    Her Gün Teslimat
                </h6>

                <p class="text-12 2xl:text-base xl:text-base leading-4 2xl:leading-6 xl:leading-6 text-dark-charcoal text-opacity-70 text-center">
                    In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual.
                </p>
            </div>
            <!--service item-->

            <!--service item-->
            <div class="lg:px-10 md:px-10 2xl:px-44 xl:px-44 flex flex-col items-center relative text-center sm:after:content-none xs:after:content-none xxs:after:content-none
            after:content[] after:absolute after:top-1/2 after:-translate-y-1/2 after:right-0 after:bg-columbia-blue after:w-1 after:h-full 2xl:after:h-half xl:after:h-half last:after:content-none
            ">
                <figure class='h-128 sm:h-64 xs:h-64 xxs:h-64'>
                <img class='object-cover h-full' src="img/delivery.svg" alt="advantage" width="128px" height="128px" />
                </figure>

                <h6 class="mt-3 lg:mt-10 md:mt-10 2xl:mt-22 xl:mt-22 mb-5 lg:mb-12 md:mb-12 2xl:mb-16 xl:mb-16 text-14 lg:text-base md:text-base 2xl:text-22 xl:text-22 leading-5 2xl:leading-7 xl:leading-7 font-bold text-black">
                    Her Gün Teslimat
                </h6>

                <p class="text-12 2xl:text-base xl:text-base leading-4 2xl:leading-6 xl:leading-6 text-dark-charcoal text-opacity-70 text-center">
                    In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual.
                </p>
            </div>
            <!--service item-->

            <!--service item-->
            <div class="lg:px-10 md:px-10 2xl:px-44 xl:px-44 flex flex-col items-center relative text-center sm:after:content-none xs:after:content-none xxs:after:content-none
            after:content[] after:absolute after:top-1/2 after:-translate-y-1/2 after:right-0 after:bg-columbia-blue after:w-1 after:h-full 2xl:after:h-half xl:after:h-half last:after:content-none
            ">
                <figure class='h-128 sm:h-64 xs:h-64 xxs:h-64'>
                <img class='object-cover h-full' src="img/delivery.svg" alt="advantage" width="128px" height="128px" />
                </figure>

                <h6 class="mt-3 lg:mt-10 md:mt-10 2xl:mt-22 xl:mt-22 mb-5 lg:mb-12 md:mb-12 2xl:mb-16 xl:mb-16 text-14 lg:text-base md:text-base 2xl:text-22 xl:text-22 leading-5 2xl:leading-7 xl:leading-7 font-bold text-black">
                    Her Gün Teslimat
                </h6>

                <p class="text-12 2xl:text-base xl:text-base leading-4 2xl:leading-6 xl:leading-6 text-dark-charcoal text-opacity-70 text-center">
                    In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual.
                </p>
            </div>
            <!--service item-->

            <!--service item-->
            <div class="lg:px-10 md:px-10 2xl:px-44 xl:px-44 flex flex-col items-center relative text-center sm:after:content-none xs:after:content-none xxs:after:content-none
            after:content[] after:absolute after:top-1/2 after:-translate-y-1/2 after:right-0 after:bg-columbia-blue after:w-1 after:h-full 2xl:after:h-half xl:after:h-half last:after:content-none
            ">
                <figure class='h-128 sm:h-64 xs:h-64 xxs:h-64'>
                <img class='object-cover h-full' src="img/delivery.svg" alt="advantage" width="128px" height="128px" />
                </figure>

                <h6 class="mt-3 lg:mt-10 md:mt-10 2xl:mt-22 xl:mt-22 mb-5 lg:mb-12 md:mb-12 2xl:mb-16 xl:mb-16 text-14 lg:text-base md:text-base 2xl:text-22 xl:text-22 leading-5 2xl:leading-7 xl:leading-7 font-bold text-black">
                    Her Gün Teslimat
                </h6>

                <p class="text-12 2xl:text-base xl:text-base leading-4 2xl:leading-6 xl:leading-6 text-dark-charcoal text-opacity-70 text-center">
                    In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual.
                </p>
            </div>
            <!--service item-->
        </div>
    </div>
</section>