<section class="bg-light-steel-blue bg-opacity-25 pt-20 lg:pt-36 md:pt-36 2xl:pt-50 xl:pt-50 pb-22 lg:pb-32 md:pb-32 2xl:pb-44 xl:pb-44">
    <div class="container max-w-full">
        <h4 class="text-18 2xl:text-22 xl:text-22 leading-6 2xl:leading-7 xl:leading-7 text-onyx text-center uppercase font-bold dark:text-white">
            YENİ ÜRÜNLER
        </h4>

        <div class="mt-20 lg:mt-25 md:mt-25 2xl:mt-44 xl:mt-44">
            @@include('../product/product-carousel.html')
        </div>
    </div>
</section>