<div class="flex flex-col">
    <div class="flex flex-row">
        <div class="flex flex-row text-12 leading-6 font-bold text-onyx1 tracking-widest mr-5">
            <p id="day">10</p>
            <span class="mx-2">Gün</span>
        </div>

        <div class="flex flex-row text-12 leading-6 font-bold text-onyx1 tracking-widest">
            <p id="hour">12</p>
            <span class="mx-2">:</span>
        </div>

        <div class="flex flex-row text-12 leading-6 font-bold text-onyx1 tracking-widest">
            <p id="minute">30</p>
            <span class="mx-2">:</span>
        </div>

        <div class="flex flex-row text-12 leading-6 font-bold text-onyx1 tracking-widest">
            <p id="second">55</p>
        </div>
    </div>
</div>