<div class="container max-w-full mx-auto pb-120">
    <div class="grid grid-cols-3 gap-7">
        @@include('../campaign-page/campaign-item.html')
        @@include('../campaign-page/campaign-item.html')
        @@include('../campaign-page/campaign-item.html')
        @@include('../campaign-page/campaign-item.html')
        @@include('../campaign-page/campaign-item.html')
        @@include('../campaign-page/campaign-item.html')
        @@include('../campaign-page/campaign-item.html')
        @@include('../campaign-page/campaign-item.html')
        @@include('../campaign-page/campaign-item.html')
    </div>

    @@include('../utils/pagination.html')
</div>