<div class="product-carousel relative">
    <div class="swiper productSwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                @@include('../product/product-card.html')
            </div>

            <div class="swiper-slide">
                @@include('../product/product-card.html')
            </div>

            <div class="swiper-slide">
                @@include('../product/product-card.html')
            </div>

            <div class="swiper-slide">
                @@include('../product/product-card.html')
            </div>

            <div class="swiper-slide">
                @@include('../product/product-card.html')
            </div>

            <div class="swiper-slide">
                @@include('../product/product-card.html')
            </div>
        </div>

        <div class="swiper-pagination"></div>
    </div>

    <div class="hidden 2xl:block xl:block">
        <button
          type="button"
          class="slider-prev absolute -left-20 top-1/2 -translate-y-1/2 -mt-24 text-50 text-sonic-silver"
        >
          <AiOutlineLeft />
        </button>

        <button
          type="button"
          class="slider-next absolute -right-20 top-1/2 -translate-y-1/2 -mt-24 text-50 text-sonic-silver"
        >
          <AiOutlineRight />
        </button>
    </div>
</div>