<div class='flex flex-col pt-20 pb-22 pl-22 pr-28 relative'>
    <div class='flex flex-row justify-between items-center pr-40'>
        <p class='text-14 leading-4 text-black text-opacity-80 font-semibold'>336 Değerlendirme   
          <span class='px-4'> | </span>
          263 Yorum
        </p>
        <button 
        class='text-14 leading-4 font-semibold text-vivid-cerise border border-solid border-vivid-cerise rounded-6 px-24 py-8'>
          Ürünü Deyerlendir
        </button>
    </div>

    <div class='h-294 overflow-y-auto mt-20 pr-20'>
        @@include('../comments/user-comment-card.html')
        @@include('../comments/user-comment-card.html')
        @@include('../comments/user-comment-card.html')
        @@include('../comments/user-comment-card.html')
    </div>

    <div class="white-gradient absolute z-10 bottom-0 left-0 rounded-8 w-full h-100 py-22 flex items-end justify-center">
        <a href='/comment-list.html' title="Tüm yorumlar">
            <span class='text-14 leading-4 text-black text-opacity-80 border border-solid border-black-olive1 rounded-6 px-38 py-8 mt-20 inline-block'>
                Tüm yorumlar
            </span>
        </a>
    </div>
</div>

<!--rate product modal-->
<!-- @@include('../modals/rate-product-modal.html') -->
<!--rate product modal-->