<div class='pt-30 pb-40 pl-48 pr-20'>
    <div class='pr-20 h-320 overflow-y-auto'>
        <p class='text-14 leading-7'>
            <span class='font-semibold block'>ÜRÜN DETAY</span>
            <span class='font-semibold'>Teslimat Bilgisi:</span> 3 ile 7 iş günü içerisinde kargoya verilecektir.<br/>
            <span class='font-semibold'>Ürün Kodu:</span> 5000224038<br/>
            <span class='font-semibold'>Ürün Açıklaması :</span> Bu elektrikli süpürge sert zeminlerde A sınıfı temizlik performansı sunar. Temiz hava filtresi sistemimiz, alerjiye hassas ve daha yüksek hijyen seviyelerine ihtiyaç duyan kişiler için polen, hayvan tüyleri ve ev tozları dahil olmak üzere ince tozları %99,9 oranında hapseder.Özel PowerCyclone 8 teknolojisi, tozu ayırmak için havayı siklonik hazne içinde ivmelendirir. Güçlü dönme hareketi, fark yaratan temizlik sonuçları için hava akışını ve performansı en üst düzeye çıkarır.Özel TriActive LED başlık, zemin ışığı teknolojisi sayesinde gizli tozları ortaya çıkarır.<br/>
            <span class='font-semibold'>Ürün İçeriği :</span> AAA Enerji Etiketi** Alerji filtresi 2,2 L NanoClean Smart<br/>
            <span class='font-semibold'>Model Kodu :</span> FC9934/07<br/>
            <span class='font-semibold'>Güç :</span> 650 W<br/>
            <span class='font-semibold'>Garanti :</span> 2 Yıl Philips Türkiye Garantili’dir
        </p>

        <p class='text-14 leading-7'>
            <span class='font-semibold block'>ÜRÜN DETAY</span>
            <span class='font-semibold'>Teslimat Bilgisi:</span> 3 ile 7 iş günü içerisinde kargoya verilecektir.<br/>
            <span class='font-semibold'>Ürün Kodu:</span> 5000224038<br/>
            <span class='font-semibold'>Ürün Açıklaması :</span> Bu elektrikli süpürge sert zeminlerde A sınıfı temizlik performansı sunar. Temiz hava filtresi sistemimiz, alerjiye hassas ve daha yüksek hijyen seviyelerine ihtiyaç duyan kişiler için polen, hayvan tüyleri ve ev tozları dahil olmak üzere ince tozları %99,9 oranında hapseder.Özel PowerCyclone 8 teknolojisi, tozu ayırmak için havayı siklonik hazne içinde ivmelendirir. Güçlü dönme hareketi, fark yaratan temizlik sonuçları için hava akışını ve performansı en üst düzeye çıkarır.Özel TriActive LED başlık, zemin ışığı teknolojisi sayesinde gizli tozları ortaya çıkarır.<br/>
            <span class='font-semibold'>Ürün İçeriği :</span> AAA Enerji Etiketi** Alerji filtresi 2,2 L NanoClean Smart<br/>
            <span class='font-semibold'>Model Kodu :</span> FC9934/07<br/>
            <span class='font-semibold'>Güç :</span> 650 W<br/>
            <span class='font-semibold'>Garanti :</span> 2 Yıl Philips Türkiye Garantili’dir
        </p>

        <p class='text-14 leading-7'>
            <span class='font-semibold block'>ÜRÜN DETAY</span>
            <span class='font-semibold'>Teslimat Bilgisi:</span> 3 ile 7 iş günü içerisinde kargoya verilecektir.<br/>
            <span class='font-semibold'>Ürün Kodu:</span> 5000224038<br/>
            <span class='font-semibold'>Ürün Açıklaması :</span> Bu elektrikli süpürge sert zeminlerde A sınıfı temizlik performansı sunar. Temiz hava filtresi sistemimiz, alerjiye hassas ve daha yüksek hijyen seviyelerine ihtiyaç duyan kişiler için polen, hayvan tüyleri ve ev tozları dahil olmak üzere ince tozları %99,9 oranında hapseder.Özel PowerCyclone 8 teknolojisi, tozu ayırmak için havayı siklonik hazne içinde ivmelendirir. Güçlü dönme hareketi, fark yaratan temizlik sonuçları için hava akışını ve performansı en üst düzeye çıkarır.Özel TriActive LED başlık, zemin ışığı teknolojisi sayesinde gizli tozları ortaya çıkarır.<br/>
            <span class='font-semibold'>Ürün İçeriği :</span> AAA Enerji Etiketi** Alerji filtresi 2,2 L NanoClean Smart<br/>
            <span class='font-semibold'>Model Kodu :</span> FC9934/07<br/>
            <span class='font-semibold'>Güç :</span> 650 W<br/>
            <span class='font-semibold'>Garanti :</span> 2 Yıl Philips Türkiye Garantili’dir
        </p>
    </div>
</div>