<div class="flex flex-col first:pt-0 pt-20 pb-14 border-b border-solid border-b-bright-gray4 last:border-b-0 last:pb-0">
    <div class="flex flex-row items-center mb-9">
      <figure class="w-36 h-52 mr-17 rounded-4 border border-solid border-light-silver2 overflow-hidden">
        <img
          src="img/goldenrose.png"
          alt="product"
          width="36px"
          height="52px"
          class="w-full h-full object-contain"
        />
      </figure>

      <div>
        <h6 class="text-base leading-5 font-semibold text-eerie-black mb-6">
            Avon
        </h6>

        <p class="text-14 leading-5 text-dark-gray1">
            True Colour Ultra Beauty Ruj - Totally Twig 1192040
        </p>
      </div>
    </div>

    @@include('../product/rating-star.html')

    <p class="text-14 leading-6 text-black text-opacity-60 mt-3">
        Bir kere şunu belirteyim fotoğrafta dudak üzerinde olan renkle uzaktan yakından alakası yok o renkten çok çok daha güzel bir ruj. Dudakta oldukça doğal duruyor. Vişne ve toprak tonu arasında bulunan bir renk. Herkesin makyaj çantasında bulunması gerekiyor
    </p>

    <div class="flex flex-row justify-between items-center">
      <div class="text-raisin-black text-12 leading-4 font-semibold flex items-center">
        <FaUserAlt class="mr-9 text-vivid-cerise" />
        Şevval Özkan | 21 Aralık 2022
      </div>

      <div class="flex flex-row items-center">
        <button class="text-12 leading-4 text-black flex items-center">
            <!--if liked-->
            <!-- <AiFillLike class="text-american-green mr-10 text-base" /> -->
            <!--if liked-->

            <!--if not liked-->
            <AiFillLike class="text-american-silver1 mr-10 text-base" />
            <!--if not liked-->
            Yorumu beyen(10)
        </button>

        <!--if not clicked more button-->
        <button class="text-dark-gray relative ml-27 text-base flex items-center pb-5">
            ...
            <span class="hidden items-center absolute right-0 top-7 py-9 px-10 bg-white rounded-4 text-12 leading-4 text-black w-maxContent shadow-black-shadow-6md">
              <FaExclamationTriangle class="mr-10 text-rosso-corsa text-base" />
              Şikayet et
            </span>
        </button>
        <!--if not clicked more button-->

        <!--if clicked more button-->
        <!-- <button class="text-black relative ml-27 text-base flex items-center pb-5">
          ...
          <span class="flex items-center absolute right-0 top-7 py-9 px-10 bg-white rounded-4 text-12 leading-4 text-black w-maxContent shadow-black-shadow-6md">
            <FaExclamationTriangle class="mr-10 text-rosso-corsa text-base" />
            Şikayet et
          </span>
        </button> -->
        <!--if clicked more button-->
      </div>
    </div>
</div>