@@include('./store-feature.html')

<div class='rounded-8 shadow-black-shadow-xs bg-white px-62 py-36'>
    <div class="flex items-center">
        <span class="text-32 leading-10 font-semibold text-eerie-black mr-32">
            4.5
        </span>
        
        <div class='scale-125'>
            @@include('../product/rating-star.html')
        </div>
    </div>

    <div class='pt-45'>
        @@include('./product-comment-card.html')
        @@include('./product-comment-card.html')
        @@include('./product-comment-card.html')
        @@include('./product-comment-card.html')
        @@include('./product-comment-card.html')
        @@include('./product-comment-card.html')
        @@include('./product-comment-card.html')
        @@include('./product-comment-card.html')
    </div>
</div>

@@include('../utils/pagination.html')