<div class="flex flex-col first:pt-0 pt-20 pb-14 border-b border-solid border-b-bright-gray4 last:border-b-0 last:pb-0">
    <div class="flex flex-row justify-between items-center mb-10">
        <div class="text-raisin-black text-12 leading-4 font-semibold flex items-center">
        <FaUserAlt class="mr-9 text-vivid-cerise" />
        Şevval Özkan | 21 Aralık 2022
        </div>

        <div class="flex flex-row items-center">
            <button class="text-12 leading-4 text-black flex items-center">
                <!--if liked-->
                <!-- <AiFillLike class="text-american-green mr-10 text-base" /> -->
                <!--if liked-->
    
                <!--if not liked-->
                <AiFillLike class="text-american-silver1 mr-10 text-base" />
                <!--if not liked-->
                Yorumu beyen(10)
            </button>

            <!--if not clicked more button-->
            <button class="text-dark-gray relative ml-27 text-base flex items-center pb-5">
                ...
                <span class="hidden items-center absolute right-0 top-7 py-9 px-10 bg-white rounded-4 text-12 leading-4 text-black w-maxContent shadow-black-shadow-6md">
                <FaExclamationTriangle class="mr-10 text-rosso-corsa text-base" />
                Şikayet et
                </span>
            </button>
            <!--if not clicked more button-->

            <!--if clicked more button-->
            <!-- <button class="text-black relative ml-27 text-base flex items-center pb-5">
            ...
            <span class="flex items-center absolute right-0 top-7 py-9 px-10 bg-white rounded-4 text-12 leading-4 text-black w-maxContent shadow-black-shadow-6md">
                <FaExclamationTriangle class="mr-10 text-rosso-corsa text-base" />
                Şikayet et
            </span>
            </button> -->
            <!--if clicked more button-->
        </div>
    </div>

    @@include('../product/rating-star.html')

    <p class="text-14 leading-6 text-granite-gray mt-3">
        Bir kere şunu belirteyim fotoğrafta dudak üzerinde olan renkle uzaktan yakından alakası yok o renkten çok çok daha güzel bir ruj. Dudakta oldukça doğal duruyor. Vişne ve toprak tonu arasında bulunan bir renk. Herkesin makyaj çantasında bulunması gerekiyor
    </p>

    <div class="flex flex-row justify-between items-center">
        <p class="text-12 leading-4 text-raisin-black font-semibold">
            Memnuniyetimi olumsuz etkileyen şey(ler):
        </p>

        <button class="rounded-8 bg-anti-flash-white1 text-12 leading-4 font-semibold text-quick-silver3 pt-7 pb-8 pl-8 pr-9">
            Eksik veya hatalı ürün
        </button>
    </div>
</div>