<div class="grid grid-cols-3 gap-8 mt-24">
    <figure class="rounded-8 overflow-hidden h-250">
      <img
        src="img/avon-banner.jpg"
        alt="banner"
        width="482px"
        height="250px"
        class="w-full h-full object-cover"
      />
    </figure>

    <figure class="rounded-8 overflow-hidden h-250">
      <img
        src="img/avon-banner.jpg"
        alt="banner"
        width="482px"
        height="250px"
        class="w-full h-full object-cover"
      />
    </figure>

    <figure class="rounded-8 overflow-hidden h-250">
      <img
        src="img/avon-banner.jpg"
        alt="banner"
        width="482px"
        height="250px"
        class="w-full h-full object-cover"
      />
    </figure>
</div>

<div class='relative store-carousel my-30'>
    <div>
        <div class="swiper shopSwiper w-full">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class='rounded-8 bg-licorice text-center'>
                        <a href="#" title='title' class='text-24 leading-7 font-bold text-white p-15 flex items-center'>
                            <img src="img/icons/percent.svg" alt='percent' width={24} height={24} />

                            <p class='w-full text-center'>
                                299 TL Üzeri 
                                <span class='text-vivid-cerise mx-6'>
                                    %10
                                </span> 
                                İndirim
                            </p>

                            <FaAngleRight />
                        </a>
                    </div>
                </div>
    
                <div class="swiper-slide">
                    <div class='rounded-8 bg-licorice text-center'>
                        <a href="#" title='title' class='text-24 leading-7 font-bold text-white p-15 flex items-center'>
                            <img src="img/icons/percent.svg" alt='percent' width={24} height={24} />

                            <p class='w-full text-center'>
                                450 TL Üzeri 
                                <span class='text-vivid-cerise mx-6'>
                                    %15
                                </span> 
                                İndirim
                            </p>

                            <FaAngleRight />
                        </a>
                    </div>
                </div>
    
                <div class="swiper-slide">
                    <div class='rounded-8 bg-licorice text-center'>
                        <a href="#" title='title' class='text-24 leading-7 font-bold text-white p-15 flex items-center'>
                            <img src="img/icons/percent.svg" alt='percent' width={24} height={24} />

                            <p class='w-full text-center'>
                                330 TL Üzeri 
                                <span class='text-vivid-cerise mx-6'>
                                    %12
                                </span> 
                                İndirim
                            </p>

                            <FaAngleRight />
                        </a>
                    </div>
                </div>
    
                <div class="swiper-slide">
                    <div class='rounded-8 bg-licorice text-center'>
                        <a href="#" title='title' class='text-24 leading-7 font-bold text-white p-15 flex items-center'>
                            <img src="img/icons/percent.svg" alt='percent' width={24} height={24} />

                            <p class='w-full text-center'>
                                500 TL Üzeri 
                                <span class='text-vivid-cerise mx-6'>
                                    %20
                                </span> 
                                İndirim
                            </p>

                            <FaAngleRight />
                        </a>
                    </div>
                </div>
            </div>
    
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>

<div class="grid grid-cols-5 gap-7">
    @@include('../product/product-card.html')
    @@include('../product/product-card.html')
    @@include('../product/product-card.html')
    @@include('../product/product-card.html')
    @@include('../product/product-card.html')
    @@include('../product/product-card.html')
    @@include('../product/product-card.html')
    @@include('../product/product-card.html')
    @@include('../product/product-card.html')
    @@include('../product/product-card.html')
    @@include('../product/product-card.html')
    @@include('../product/product-card.html')
    @@include('../product/product-card.html')
    @@include('../product/product-card.html')
    @@include('../product/product-card.html')
    @@include('../product/product-card.html')
    @@include('../product/product-card.html')
    @@include('../product/product-card.html')
    @@include('../product/product-card.html')
    @@include('../product/product-card.html')
</div>

@@include('../utils/pagination.html')
