<div class='flex flex-col container mx-auto max-w-full'>
    <div class="grid grid-cols-12 bg-white rounded-8 shadow-black-shadow-sm py-20 px-24">
        <div class="col-span-3">
            <h6 class="font-semibold text-14 leading-5 text-black uppercase">
                DEĞERLENDİRMELERİM
            </h6>
        </div>
        
        <div class="col-span-9 flex justify-end relative">
            <button>
                <div class="flex flex-row items-center">
                <span class="text-13 leading-4 text-black">Değerlendir</span>
                <FaAngleDown class="text-davys-grey text-opacity-50 ml-9" />
                </div>
            </button>

            <!--if show dropdown-->
            <!-- <div class="block absolute top-full -right-8 mt-22 z-10 rounded-6 px-23 pt-23 pb-29 bg-white shadow-dropdown-shadow w-maxContent
            before:content[] before:absolute before:-top-2 before:right-7 before:w-16 before:h-16 before:black-shadow-sm before:bg-white before:z-10 before:rotate-45 before:rounded-1" 
            >
                <ul class='text-13 leading-4'>
                    <li class='text-vivid-cerise mb-13 last:mb-0 cursor-pointer'> <!--if active item-->
                        <!-- Lorem
                    </li>

                    <li class='text-black mb-13 last:mb-0 cursor-pointer'>
                        Lorem
                    </li>

                    <li class='text-black mb-13 last:mb-0 cursor-pointer'>
                        Lorem
                    </li>

                    <li class='text-black mb-13 last:mb-0 cursor-pointer'>
                        Lorem
                    </li>

                    <li class='text-black mb-13 last:mb-0 cursor-pointer'>
                        Lorem
                    </li>

                    <li class='text-black mb-13 last:mb-0 cursor-pointer'>
                        Lorem
                    </li>
                </ul>
            </div> -->
            <!--if show dropdown-->
        </div>
    </div>

    <div class='grid grid-cols-12 my-28 gap-7'>
        @@include('../account-menu.html')

        <div class='col-span-9'>
            <div>
                <ul class="flex list-none flex-wrap flex-row mb-20" role="tablist">
                    <li class="mr-27"> <!--active tab-->
                        <button class="border-vivid-cerise text-vivid-cerise text-14 leading-5 font-semibold border border-solid rounded-8 flex items-center justify-between px-22 min-w-164 h-40">
                            <span>
                                Değerlendir
                            </span>
                            <span class="text-black">
                                4
                            </span>
                        </button>
                    </li>

                    <li class="mr-27">
                        <button class="border-black border-opacity-20 text-black text-opacity-30 text-14 leading-5 font-semibold border border-solid rounded-8 flex items-center justify-between px-22 min-w-164 h-40">
                            <span>
                                Onaylanan
                            </span>
                            <span class="text-black">
                                0
                            </span>
                        </button>
                    </li>

                    <li class="mr-27">
                        <button class="border-black border-opacity-20 text-black text-opacity-30 text-14 leading-5 font-semibold border border-solid rounded-8 flex items-center justify-between px-22 min-w-164 h-40">
                            <span>
                                Reddedilen
                            </span>
                            <span class="text-black">
                                0
                            </span>
                        </button>
                    </li>

                    <li class="mr-27">
                        <button class="border-black border-opacity-20 text-black text-opacity-30 text-14 leading-5 font-semibold border border-solid rounded-8 flex items-center justify-between px-22 min-w-164 h-40">
                            <span>
                                Silinen
                            </span>
                            <span class="text-black">
                                0
                            </span>
                        </button>
                    </li>
                </ul>

                <div class='grid grid-cols-3 gap-7'>
                    @@include('./assessment-box.html')
                    @@include('./assessment-box.html')
                    @@include('./assessment-box.html')
                    @@include('./assessment-box.html')
                    @@include('./assessment-box.html')
                    @@include('./assessment-box.html')
                    @@include('./assessment-box.html')
                    @@include('./assessment-box.html')
                    @@include('./assessment-box.html')
                </div>
            </div>
        </div>
    </div>
</div>