<div class="flex flex-col first:pt-0 pt-20 pb-14 border-b border-solid border-b-bright-gray4 last:border-b-0 last:pb-0">
    <div class="flex flex-row justify-between items-center">
      <div class="text-burnished-brown text-12 leading-4 font-semibold border border-solid border-burnished-brown rounded-6 flex items-center py-3 px-5">
        <FaUserAlt class="mr-9" />
        <p>
            <span>Şevval Özkan </span> | <span>21 Aralık 2022</span>
        </p>
      </div>

      <div class="flex flex-row items-center">
        @@include('../product/rating-star.html')

        <button class="ml-40 text-12 leading-4 text-black flex items-center">
            <!--if liked-->
            <!-- <AiFillLike class="text-american-green mr-10 text-base" /> -->
            <!--if liked-->

            <!--if not liked-->
            <AiFillLike class="text-american-silver1 mr-10 text-base" />
            <!--if not liked-->
          Yorumu beyen(10)
        </button>

        <!--if not clicked more button-->
        <button class="text-dark-gray relative ml-27 text-base flex items-center pb-5">
            ...
            <span class="hidden items-center absolute right-0 top-7 py-9 px-10 bg-white rounded-4 text-12 leading-4 text-black w-maxContent shadow-black-shadow-6md">
              <FaExclamationTriangle class="mr-10 text-rosso-corsa text-base" />
              Şikayet et
            </span>
        </button>
        <!--if not clicked more button-->

        <!--if clicked more button-->
        <!-- <button class="text-black relative ml-27 text-base flex items-center pb-5">
          ...
          <span class="flex items-center absolute right-0 top-7 py-9 px-10 bg-white rounded-4 text-12 leading-4 text-black w-maxContent shadow-black-shadow-6md">
            <FaExclamationTriangle class="mr-10 text-rosso-corsa text-base" />
            Şikayet et
          </span>
        </button> -->
        <!--if clicked more button-->

      </div>
    </div>
    <p class="text-14 leading-6 text-black text-opacity-60 pt-4">
        mankendeki gibi olsun derseniz bı beden büyük alın. normalde 36 -38 beden arasinda giyerim. 36 beden aldım tam oturdu . normal bı kumaş pantolon gibi . öyle çok ince veya çok kalın değil. pot durmuyor ağ kısmı. ve kemer detayi gayet güzel. tavsiye ederim
    </p>
</div>