<div class="flex flex-col border-b border-b-solid border-b-bright-gray3 pt-13 pb-21">
    <button
      class="flex flex-row justify-between items-center"
    >
      <span class="text-base text-vivid-cerise font-semibold leading-5">
        Markalar
      </span>
      <FaAngleDown class="text-vivid-cerise" />
    </button>

    <!--if opened dropdown-->
    <div>
        <div class="flex flex-row justify-between items-center border border-solid border-platinum bg-white p-11 rounded-11 mt-20 mb-14 h-40">
            <input
                type="search"
                class="outline-none w-full placeholder:text-quick-silver placeholder:text-14 placeholder:leading-4 text-14 leading-4"
                placeholder="Marka ara"
            />

          <AiOutlineSearch class="text-quick-silver text-base" />
        </div>

        <ul class="h-192 overflow-y-auto">
          
            <li class="flex flex-row justify-start">
              <label class="accept-checkbox flex items-center">
                <input class="hidden" type="checkbox" name="accept" />

                <span class="block w-24 h-24 bg-white rounded-8 border-2 border-solid border-light-silver1 mr-13 bg-no-repeat bg-center cursor-pointer"></span>

                <p class="text-14 leading-8">Lorem Ipsum</p>
              </label>
            </li>

            <li class="flex flex-row justify-start">
                <label class="accept-checkbox flex items-center">
                  <input class="hidden" type="checkbox" name="accept" />
  
                  <span class="block w-24 h-24 bg-white rounded-8 border-2 border-solid border-light-silver1 mr-13 bg-no-repeat bg-center cursor-pointer"></span>
  
                  <p class="text-14 leading-8">Lorem Ipsum</p>
                </label>
              </li>

              <li class="flex flex-row justify-start">
                <label class="accept-checkbox flex items-center">
                  <input class="hidden" type="checkbox" name="accept" />
  
                  <span class="block w-24 h-24 bg-white rounded-8 border-2 border-solid border-light-silver1 mr-13 bg-no-repeat bg-center cursor-pointer"></span>
  
                  <p class="text-14 leading-8">Lorem Ipsum</p>
                </label>
              </li>

              <li class="flex flex-row justify-start">
                <label class="accept-checkbox flex items-center">
                  <input class="hidden" type="checkbox" name="accept" />
  
                  <span class="block w-24 h-24 bg-white rounded-8 border-2 border-solid border-light-silver1 mr-13 bg-no-repeat bg-center cursor-pointer"></span>
  
                  <p class="text-14 leading-8">Lorem Ipsum</p>
                </label>
              </li>

        </ul>
    </div>
    <!--if opened dropdown-->
</div>