<div class="flex flex-col border-b border-b-solid border-b-bright-gray3 pb-21">
    <button
      class="flex flex-row justify-between items-center">
      <span class="text-base text-vivid-cerise font-semibold leading-5">
        Kateqoriler
      </span>
      <FaAngleDown class="text-vivid-cerise" />
    </button>

    <!--if opened dropdown-->
    <ul class="mt-18">
        @@include('../product-category/category-filter-item.html')
        @@include('../product-category/category-filter-item.html')
        @@include('../product-category/category-filter-item.html')
        @@include('../product-category/category-filter-item.html')
        @@include('../product-category/category-filter-item.html')
    </ul>
    <!--if opened dropdown-->
</div>