<div class='grid grid-cols-12 rounded-8 bg-white shadow-black-shadow-2sm overflow-hidden'>
    <div class='col-span-7 pt-27 pl-41 pb-17 pr-31 border-r border-dashed border-r-gray2 relative
    before:content[] before:absolute before:-top-3 before:-right-3 before:w-22 before:h-22 before:rounded-half before:bg-cultured2
    after:content[] after:absolute after:-bottom-3 after:-right-3 after:w-22 after:h-22 after:rounded-half after:bg-cultured2'>
        
        <h6 class='text-18 leading-6 text-eerie-black font-bold uppercase pl-9 relative mb-12 
        before:content[] before:absolute before:left-0 before:w-4 before:h-full before:rounded-2 before:bg-vivid-cerise'>
            GREYSON MCLAUGHLIN SR.
        </h6>

        <p class='text-14 leading-5 text-quick-silver font-semibold mb-8'>
            Status: 
            <span class='text-granite-gray ml-3'>
                Aktiv
            </span>
        </p>

        <p class='text-14 leading-5 text-quick-silver font-semibold mb-6'>
            Aktivasyon Tarihi: 
            <span class='text-granite-gray ml-3'>
                2023-04-03
            </span>
        </p> 

        <p class='text-14 leading-5 text-quick-silver font-semibold mb-6'>
            Son Kullanma Tarihi:
            <span class='text-granite-gray ml-3'>
                2024-04-03
            </span>
        </p>

        <p class='text-14 leading-5 text-quick-silver font-semibold'>
            Alt Limit: 
            <span class='text-granite-gray ml-3'>
                75 TL
            </span>
        </p>
        
    </div>

    <div class='col-span-5 px-31 flex items-center justify-center'>
        <div class='w-full text-center'>
            <p class='text-28 leading-9 text-eerie-black font-semibold mb-18'>
                421
                <span class='text-18 leading-6 ml-5'>TL</span>
            </p>

            <a href='#' title='Detaylı'
            class='block shadow-rossoCorsa-shadow-sm rounded-8 bg-vivid-cerise py-8 text-white text-14 leading-5 font-semibold w-full'>
                Detaylı
            </a>
        </div>
    </div>
</div>