<div class="bg-white absolute top-0 left-0 w-full z-50 pt-70">
    <div class="flex mb-66.41 ml-34">
      <div class="pt-29 px-15 pb-103.56 rounded-18 bg-white1 shadow-black-shadow-3md w-390">

        @@include('../menu/category-item.html')
        @@include('../menu/category-item.html')
        @@include('../menu/category-item.html')
        @@include('../menu/category-item.html')
        @@include('../menu/category-item.html')
        @@include('../menu/category-item.html')
        @@include('../menu/category-item.html')
        @@include('../menu/category-item.html')
        @@include('../menu/category-item.html')
    
      </div>

      <div class="group-hover:block pl-79.06 pr-227.07 w-calc390">
        <div class="grid grid-cols-5 pt-10">
          <div class="col-span-3 grid grid-cols-3 gap-7">
            <div>
              <h6 class="text-3xl leading-6 font-semibold text-black mb-10">
                Yüz
              </h6>

              <ul>
                <li class="text-base leading-6 mb-6">
                  <a
                    title="title"
                    href="/product-category"
                    class="text-black text-opacity-70"
                  >
                    BB krem
                  </a>
                </li>
                <li class="text-base leading-6 mb-6">
                  <a
                    title="title"
                    href="/product-category"
                    class="text-vivid-cerise underline"
                  >
                    CC krem
                  </a>
                </li>
                <li class="text-base leading-6 mb-6">
                  <a
                    title="title"
                    href="/product-category"
                    class="text-black text-opacity-70"
                  >
                    Föndeten
                  </a>
                </li>
                <li class="text-base leading-6 mb-6">
                  <a
                    title="title"
                    href="/product-category"
                    class="text-black text-opacity-70"
                  >
                    Baz ve kapaticilar
                  </a>
                </li>
                <li class="text-base leading-6 mb-6">
                  <a
                    title="title"
                    href="/product-category"
                    class="text-black text-opacity-70"
                  >
                    Allık ve paletler
                  </a>
                </li>
                <li class="text-base leading-6 mb-6">
                  <a
                    title="title"
                    href="/product-category"
                    class="text-black text-opacity-70"
                  >
                    Highlter
                  </a>
                </li>
                <li class="text-base leading-6 mb-6">
                  <a
                    title="title"
                    href="/product-category"
                    class="text-black text-opacity-70"
                  >
                    Pudra Bronzer
                  </a>
                </li>
                <li class="text-base leading-6 mb-6">
                  <a
                    title="title"
                    href="/product-category"
                    class="text-black text-opacity-70"
                  >
                    Bacak fondöteni
                  </a>
                </li>
              </ul>
            </div>

            <div>
              <h6 class="text-3xl leading-6 font-semibold text-black mb-10">
                Yüz
              </h6>

              <ul>
                <li class="text-base leading-6 mb-6">
                  <a
                    title="title"
                    href="/product-category"
                    class="text-black text-opacity-70"
                  >
                    BB krem
                  </a>
                </li>
                <li class="text-base leading-6 mb-6">
                  <a
                    title="title"
                    href="/product-category"
                    class="text-black text-opacity-70"
                  >
                    CC krem
                  </a>
                </li>
                <li class="text-base leading-6 mb-6">
                  <a
                    title="title"
                    href="/product-category"
                    class="text-black text-opacity-70"
                  >
                    Föndeten
                  </a>
                </li>
                <li class="text-base leading-6 mb-6">
                  <a
                    title="title"
                    href="/product-category"
                    class="text-black text-opacity-70"
                  >
                    Baz ve kapaticilar
                  </a>
                </li>
                <li class="text-base leading-6 mb-6">
                  <a
                    title="title"
                    href="/product-category"
                    class="text-black text-opacity-70"
                  >
                    Allık ve paletler
                  </a>
                </li>
                <li class="text-base leading-6 mb-6">
                  <a
                    title="title"
                    href="/product-category"
                    class="text-black text-opacity-70"
                  >
                    Highlter
                  </a>
                </li>
                <li class="text-base leading-6 mb-6">
                  <a
                    title="title"
                    href="/product-category"
                    class="text-black text-opacity-70"
                  >
                    Pudra Bronzer
                  </a>
                </li>
                <li class="text-base leading-6 mb-6">
                  <a
                    title="title"
                    href="/product-category"
                    class="text-black text-opacity-70"
                  >
                    Bacak fondöteni
                  </a>
                </li>
              </ul>
            </div>

            <div>
              <h6 class="text-3xl leading-6 font-semibold text-black mb-10">
                Makyaj sonrası
              </h6>

              <ul>
                <li class="text-base leading-6 mb-6">
                  <a
                    title="title"
                    href="/product-category"
                    class="text-black text-opacity-70"
                  >
                    Makyaj sonrası spray
                  </a>
                </li>
                <li class="text-base leading-6 mb-6">
                  <a
                    title="title"
                    href="/product-category"
                    class="text-black text-opacity-70"
                  >
                    Makyaj sabitleyici
                    <span class="new-product inline-block rounded-8 bg-go-green text-white text-15 leading-5 font-black pl-8 pr-6 py-1 ml-10">
                      Yeni
                    </span>
                  </a>
                </li>
                <li class="text-base leading-6 mb-6">
                  <a
                    title="title"
                    href="/product-category"
                    class="text-black text-opacity-70"
                  >
                    Makyaj temizleme losyonu
                  </a>
                </li>
                <li class="text-base leading-6 mb-6">
                  <a
                    title="title"
                    href="/product-category"
                    class="text-black text-opacity-70"
                  >
                    Makyaj temizleme yağları
                  </a>
                </li>
                <li class="text-base leading-6 mb-6">
                  <a
                    title="title"
                    href="/product-category"
                    class="text-black text-opacity-70"
                  >
                    Makyaj temizleme suyu
                  </a>
                </li>
                <li class="text-base leading-6 mb-6">
                  <a
                    title="title"
                    href="/product-category"
                    class="text-black text-opacity-70"
                  >
                    Makyaj temzileme seti
                  </a>
                </li>
              </ul>
            </div>

            <div>
              <h6 class="text-3xl leading-6 font-semibold text-black mb-10">
                Yüz
              </h6>

              <ul>
                <li class="text-base leading-6 mb-6">
                  <a
                    title="title"
                    href="/product-category"
                    class="text-black text-opacity-70"
                  >
                    BB krem
                  </a>
                </li>
                <li class="text-base leading-6 mb-6">
                  <a
                    title="title"
                    href="/product-category"
                    class="text-black text-opacity-70"
                  >
                    CC krem
                  </a>
                </li>
                <li class="text-base leading-6 mb-6">
                  <a
                    title="title"
                    href="/product-category"
                    class="text-black text-opacity-70"
                  >
                    Föndeten
                  </a>
                </li>
                <li class="text-base leading-6 mb-6">
                  <a
                    title="title"
                    href="/product-category"
                    class="text-black text-opacity-70"
                  >
                    Baz ve kapaticilar
                  </a>
                </li>
                <li class="text-base leading-6 mb-6">
                  <a
                    title="title"
                    href="/product-category"
                    class="text-black text-opacity-70"
                  >
                    Allık ve paletler
                  </a>
                </li>
                <li class="text-base leading-6 mb-6">
                  <a
                    title="title"
                    href="/product-category"
                    class="text-black text-opacity-70"
                  >
                    Highlter
                  </a>
                </li>
                <li class="text-base leading-6 mb-6">
                  <a
                    title="title"
                    href="/product-category"
                    class="text-black text-opacity-70"
                  >
                    Pudra Bronzer
                  </a>
                </li>
                <li class="text-base leading-6 mb-6">
                  <a
                    title="title"
                    href="/product-category"
                    class="text-black text-opacity-70"
                  >
                    Bacak fondöteni
                  </a>
                </li>
                <li class="text-base leading-6 mb-6">
                  <a
                    title="Daha çok gör"
                    href="/product-category"
                    class="text-vivid-cerise"
                  >
                    Daha çok gör
                    <span
                      class="border-t-7 border-l-7 border-r-7 border-l-transparent border-r-transparent border-t-vivid-cerise border-solid 
                          rounded-4 inline-block ml-2 relative -top-0"
                    ></span>
                  </a>
                </li>
              </ul>
            </div>

            <div>
              <h6 class="text-3xl leading-6 font-semibold text-black mb-10">
                Yüz
              </h6>

              <ul>
                <li class="text-base leading-6 mb-6">
                  <a
                    title="title"
                    href="/product-category"
                    class="text-black text-opacity-70"
                  >
                    BB krem
                  </a>
                </li>
                <li class="text-base leading-6 mb-6">
                  <a
                    title="title"
                    href="/product-category"
                    class="text-black text-opacity-70"
                  >
                    CC krem
                  </a>
                </li>
                <li class="text-base leading-6 mb-6">
                  <a
                    title="title"
                    href="/product-category"
                    class="text-black text-opacity-70"
                  >
                    Föndeten
                  </a>
                </li>
                <li class="text-base leading-6 mb-6">
                  <a
                    title="title"
                    href="/product-category"
                    class="text-black text-opacity-70"
                  >
                    Baz ve kapaticilar
                  </a>
                </li>
                <li class="text-base leading-6 mb-6">
                  <a
                    title="title"
                    href="/product-category"
                    class="text-black text-opacity-70"
                  >
                    Allık ve paletler
                  </a>
                </li>
                <li class="text-base leading-6 mb-6">
                  <a
                    title="title"
                    href="/product-category"
                    class="text-black text-opacity-70"
                  >
                    Highlter
                  </a>
                </li>
                <li class="text-base leading-6 mb-6">
                  <a
                    title="title"
                    href="/product-category"
                    class="text-black text-opacity-70"
                  >
                    Pudra Bronzer
                  </a>
                </li>
                <li class="text-base leading-6 mb-6">
                  <a
                    title="title"
                    href="/product-category"
                    class="text-black text-opacity-70"
                  >
                    Bacak fondöteni
                  </a>
                </li>
                <li class="text-base leading-6 mb-6">
                  <a
                    title="Daha çok gör"
                    href="/product-category"
                    class="text-vivid-cerise"
                  >
                    Daha çok gör
                    <span
                      class="border-t-7 border-l-7 border-r-7 border-l-transparent border-r-transparent border-t-vivid-cerise border-solid 
                          rounded-4 inline-block ml-2 relative -top-0"
                    ></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-span-2 pl-100">
            <div>
              <img
                src="img/ads.jpg"
                alt="ads"
                class="ml-auto rounded-7.32 shadow-black-shadow-sm w-auto h-full object-cover"
                width="325px"
                height="508px"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>