<div class="relative">
    <div class="flex items-center cursor-pointer">
        <img src="img/tr.svg" width="19px" height="14px" alt="tr" />

        <div class="ml-7 mr-10 text-14 leading-5 text-black">
            Türkiye
            <span class="text-silver-sand opacity-30 mx-5">
            |
            </span>
            TR
            <span class="text-silver-sand opacity-30 mx-5">
            |
            </span>
            TRY
        </div>

        <img
            src="img/down-drop.svg"
            width="6px"
            height="4px"
            alt="down-arrow"
        />
    </div>

    <!--if show dropdown--> 

        <!-- <div class="absolute top-9 -left-22 w-216 bg-white shadow-dropdown-shadow rounded-6 
        before:content[] before:absolute before:-top-2 before:left-6 before:w-16 before:h-16 before:shadow-black-shadow-xs before:bg-white before:z-10 before:rotate-45 before:rounded-1"
      >
        <div class="pt-13 pb-18 pl-12 pr-16 relative z-30">
            <div class="mb-12">
                <p class="text-13 leading-4 text-davys-grey font-semibold mb-7">
                    Ülke
                </p>
                <div class="border border-solid border-platinum rounded-8 bg-snow h-40 px-7">
                <select
                    name="countries"
                    id="countries"
                    value=""
                    class="cursor-pointer h-full bg-transparent text-14 leading-5 text-davys-grey text-opacity-80 relative w-full focus:outline-none"
                >
                    <option value="Türkiye">Türkiye</option>
                    <option value="Azerbaycan">Azerbaycan</option>
                </select>
                </div>
            </div>

            <div class="mb-12">
                <p class="text-13 leading-4 text-davys-grey font-semibold mb-7">
                    Dil
                </p>
                <div class="border border-solid border-platinum rounded-8 bg-snow h-40 px-7">
                <select
                    name="languages"
                    id="languages"
                    value=""
                    class="cursor-pointer h-full bg-transparent text-14 leading-5 text-davys-grey text-opacity-80 relative w-full focus:outline-none"
                >
                    <option value="TR">Türk</option>
                    <option value="AZ">Azerbaycan</option>
                </select>
                </div>
            </div>

            <div class="mb-12">
                <p class="text-13 leading-4 text-davys-grey font-semibold mb-7">
                    Para birimi
                </p>
                <div class="border border-solid border-platinum rounded-8 bg-snow h-40 px-7">
                    <select
                        name="currency"
                        id="currency"
                        value=""
                        class="cursor-pointer h-full bg-transparent text-14 leading-5 text-davys-grey text-opacity-80 relative w-full focus:outline-none"
                    >
                        <option value="TRY">TRY</option>
                        <option value="AZN">AZN</option>
                    </select>
                </div>
            </div>

            <button class="rounded-8 bg-vivid-cerise w-full h-40 text-base leading-5 text-white font-semibold flex items-center justify-center">
                Kaydet
            </button>
        </div>
    </div> -->

    <!--if show dropdown--> 
</div>