<div class="relative">
    <div class="flex flex-col justify-center items-center text-14 leading-5 text-black ml-20 2xl:ml-41 cursor-pointer">
        <img
        width="18px"
        height="20px"
        src="img/user.svg"
        alt="user"
        />
        <span class="inline mt-8">Hesabım</span>
    </div>

    <!--if show dropdown--> 

        <!-- <div class="block absolute top-full -right-3 mt-10 w-224 rounded-6 p-22 pt-20 bg-white shadow-dropdown-shadow
        before:content[] before:absolute before:-top-2 before:right-7 before:w-16 before:h-16 before:black-shadow-sm before:bg-white before:z-10 before:rotate-45 before:rounded-1"
        >
            
            <a title='Giriş yapın' href='/login.html'
            class="rounded-6 bg-vivid-cerise w-full h-40 text-base leading-5 text-white tracking-wider font-semibold flex items-center justify-center mb-10"
            >
                Giriş yapın
            </a>

            <a title='Yeni üye' href='/register.html'
            class="rounded-6 bg-transparent text-granite-gray border border-solid border-light-silver1 w-full h-40 text-base leading-5 tracking-wider font-semibold flex items-center justify-center"
            >
                Yeni üye
            </a>
        
        </div>  -->

    <!--if show dropdown--> 
</div>