<button class='flex flex-row items-center'>
    <span class='text-14 leading-4 text-granite-gray'>Sıralama Seçin</span>
    <FaAngleDown class='text-davys-grey text-opacity-50 ml-15' />
</button>

<!--if show dropdown-->
<!-- <div class="block absolute top-full -right-8 mt-22 z-10 rounded-6 px-23 pt-23 pb-29 bg-white shadow-dropdown-shadow w-maxContent
before:content[] before:absolute before:-top-2 before:right-7 before:w-16 before:h-16 before:black-shadow-sm before:bg-white before:z-10 before:rotate-45 before:rounded-1" 
>
    <ul class='text-13 leading-4'>
        <li class='text-vivid-cerise mb-13 last:mb-0 cursor-pointer'> <!--if active item-->
            <!-- Önerilen sıralama
        </li>

        <li class='text-black mb-13 last:mb-0 cursor-pointer'>
            En düşük fiyat
        </li>

        <li class='text-black mb-13 last:mb-0 cursor-pointer'>
            En yeniler
        </li>

        <li class='text-black mb-13 last:mb-0 cursor-pointer'>
            En çok satanlar
        </li>

        <li class='text-black mb-13 last:mb-0 cursor-pointer'>
            En çok beğenilenler
        </li>

        <li class='text-black mb-13 last:mb-0 cursor-pointer'>
            En çok değerlendirilenler
        </li>
    </ul>
</div> -->
<!--if show dropdown-->