<div class="container mx-auto flex flex-col pb-40 sm:px-8 xs:px-8 xxs:px-8">
    <div class="sm:bg-transparent xs:bg-transparent xxs:bg-transparent bg-white 2xl:rounded-8 xl:rounded-8 2xl:shadow-black-shadow-sm xl:shadow-black-shadow-sm sm:p-0 xs:p-0 xxs:p-0 pt-70 pb-147">
      <div class="sm:px-0 xs:px-0 xxs:px-0 container max-w-full">
        <div class="lg:grid md:grid 2xl:grid xl:grid">
          <div class="lg:flex md:flex justify-center col-span-12">
            <div class="col-span-10 lg:grid md:grid 2xl:grid xl:grid gap-20">
              <div
                class="sm:bg-white xs:bg-white xxs:bg-white sm:mb-20 xs:mb-20 xxs:mb-20 sm:pt-20 xs:pt-20 xxs:pt-20 sm:px-22 xs:px-22 xxs:px-22 sm:pb-29 xs:pb-29 xxs:pb-29
               px-10 sm:rounded-8 xs:rounded-8 xxs:rounded-8 sm:shadow-black-shadow-sm xs:shadow-black-shadow-sm xxs:shadow-black-shadow-sm"
              >
                <h6 class="uppercase text-18 leading-6 font-semibold mb-27">
                    Şİfrenİ Unuttun?
                </h6>

                <form>
                    <label class="block mb-20">
                        <span class="block text-14 leading-5 text-black text-opacity-80 mb-10">
                            E-posta adresi
                        </span>
    
                        <input
                            value=""
                            class="w-full border border-solid border-gainsboro2 rounded-6 bg-snow outline-none py-11 px-13 
                            placeholder:text-14 placeholder:leading-4 placeholder:text-gray2 text-14 leading-4 focus:outline-none"
                            placeholder="E-posta adresinizi yazın" type="email" name="e-mail"
                        />
                    </label>

                    <button
                        type="submit"
                        class="bg-go-green rounded-6 text-white text-base leading-5 font-semibold py-10 w-full cursor-pointer focus:outline-none capitalize"
                    >
                        Göndər
                    </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>


<!--if email is successfully then open reset password page-->