<div class="container mx-auto flex flex-col pb-40 sm:px-8 xs:px-8 xxs:px-8">
    <div class="sm:bg-transparent xs:bg-transparent xxs:bg-transparent bg-white 2xl:rounded-8 xl:rounded-8 2xl:shadow-black-shadow-sm xl:shadow-black-shadow-sm sm:p-0 xs:p-0 xxs:p-0 pt-70 pb-147">
      <div class="sm:px-0 xs:px-0 xxs:px-0 container max-w-full">
        <div class="lg:grid md:grid 2xl:grid xl:grid">
          <div class="lg:flex md:flex justify-center col-span-12">
            <div class="col-span-10 lg:grid md:grid 2xl:grid xl:grid gap-20">
              <div
                class="sm:bg-white xs:bg-white xxs:bg-white sm:mb-20 xs:mb-20 xxs:mb-20 sm:pt-20 xs:pt-20 xxs:pt-20 sm:px-22 xs:px-22 xxs:px-22 sm:pb-29 xs:pb-29 xxs:pb-29
               px-10 sm:rounded-8 xs:rounded-8 xxs:rounded-8 sm:shadow-black-shadow-sm xs:shadow-black-shadow-sm xxs:shadow-black-shadow-sm"
              >
                <h6 class="uppercase text-18 leading-6 font-semibold">
                  GİRİŞ YAP
                </h6>
                <p class="text-13 leading-4 text-black text-opacity-60 mb-27">
                  Alışverişten faydalanın!
                </p>

                <form>
                  <label class="block mb-20">
                    <span class="block text-14 leading-5 text-black text-opacity-80 mb-10">
                        E-posta adresi
                    </span>

                    <input
                        value=""
                        class="w-full border border-solid border-gainsboro2 rounded-6 bg-snow outline-none py-11 px-13 
                        placeholder:text-14 placeholder:leading-4 placeholder:text-gray2 text-14 leading-4 focus:outline-none"
                        placeholder="E-posta adresinizi yazın" type="email" name="e-mail"
                    />
                  </label>

                  <label class="block">
                    <span class="block text-14 leading-5 text-black text-opacity-80 mb-10">
                        Şifre
                    </span>

                    <input
                        value=""
                        class="w-full border border-solid border-gainsboro2 rounded-6 bg-snow outline-none py-11 px-13 
                        placeholder:text-14 placeholder:leading-4 placeholder:text-gray2 text-14 leading-4 focus:outline-none"
                        placeholder="Şifrenizi yazın" type="password" name="password"
                    />
                  </label>

                  <div class="flex flex-row justify-between items-center text-14 leading-4 my-15 text-black ">
                    <label class="accept-checkbox flex items-center ">
                      <input
                        checked=""
                        class="hidden "
                        type="checkbox"
                        name="accept"
                      />
                      <span class="block w-22 h-22 rounded-6 border-2 border-solid border-light-silver1 mr-8 bg-no-repeat bg-center cursor-pointer"></span>
                      Beni hatırla
                    </label>

                    <a href="/forgot-password.html" title="Şifreni Unuttun?">Şifreni Unuttun?</a>
                  </div>

                  <button
                    type="submit"
                    class="bg-go-green  rounded-6 text-white text-base leading-5 font-semibold py-10 sm:mt-14 xs:mt-14 xxs:mt-14  w-full cursor-pointer focus:outline-none capitalize"
                  >
                    giriş yapın
                  </button>

                  <p class="text-center my-10 text-14 leading-4 text-black text-opacity-60">
                    ve ya
                  </p>

                  <div class="grid grid-cols-2 sm:gap-2 xs:gap-2 xxs:gap-2 gap-6 sm:grid-cols-1 xs:grid-cols-1 xxs:grid-cols-1">
                    <button class="rounded-6 bg-blue-yonder shadow-black-shadow-4md h-40 pl-16 flex items-center  ">
                      <img
                        src="img/facebook-login.svg"
                        alt="facebook"
                        width="9px"
                        height="18px"
                      />

                      <span class="block mx-14 bg-YInMn-blue w-1 h-26"></span>

                      <span class="text-11 leading-3 text-white text-left">
                        <span class="text-13 font-semibold block">
                          Facebook
                        </span>
                        ile giriş yap
                      </span>
                    </button>

                    <button class="rounded-6 bg-bubbles shadow-black-shadow-4md border border-solid border-alice-blue h-40 pl-14 flex items-center">
                      <img
                        src="img/google.svg"
                        alt="google"
                        width="17px"
                        height="17px"
                      />

                      <span class="block mx-11 bg-columbia-blue1 w-1 h-26"></span>

                      <span class="text-11 leading-3 text-slate-gray text-left">
                        <span class="text-13 font-semibold text-independence block">
                          Google
                        </span>
                        ile giriş yap
                      </span>
                    </button>
                  </div>
                </form>

                <p class="text-center my-15 text-14 leading-4 text-black text-opacity-60">
                  hesabın yoksa
                </p>

                <a
                  href="/register.html"
                  title="Üye olun"
                  class="block text-center rounded-6 bg-vivid-cerise text-white text-base leading-5 font-semibold py-10 w-full cursor-pointer outline-none"
                >
                  Üye olun
                </a>

                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>