<div class="container mx-auto max-w-full sm:px-8 xs:px-8 xxs:px-8">
    <div class="grid lg:grid-cols-12 md:grid-cols-12 2xl:grid-cols-12 xl:grid-cols-12 lg:gap-32 md:gap-32 2xl:gap-32 xl:gap-32 bg-white rounded-8 shadow-black-shadow-2sm mb-60 relative
        after:content[] after:absolute after:right-0 after:top-0 after:bg-register-pattern after:bg-cover after:bg-no-repeat after:bg-left after:h-full after:w-56per sm:after:content-none xs:after:content-none xxs:after:content-none">
        <div
            class='lg:col-span-5 md:col-span-5 2xl:col-span-5 xl:col-span-5 lg:mt-37 md:mt-37 2xl:mt-37 xl:mt-37 lg:mb-36 md:mb-36 2xl:mb-36 xl:mb-36 container max-w-full sm:pt-20 xs:pt-20 xxs:pt-20 sm:px-22 xs:px-22 xxs:px-22 pr-0 z-10'>
            <div class="mb-27">
                <h5 class="text-18 leading-6 font-semibold text-black">
                    SİTEMİZE ÜYE OLUN
                </h5>

                <span class="text-13 leading-4 text-black text-opacity-60">
                    Alışverişten faydalanın!
                </span>
            </div>

            <form>
                <label class="block mb-20">
                    <span class="block text-14 leading-5 text-black text-opacity-80 mb-10">
                        E-posta adresi
                    </span>

                    <input
                        value=""
                        class="w-full rounded-6 border border-solid border-gainsboro bg-snow px-13 py-11 text-14 leading-5 text-black
                            placeholder:text-4sm placeholder:leading-6 placeholder:text-gray2 focus:outline-none"
                        placeholder="E-posta adresinizi yazın" type="email" name="e-mail"
                    />
                </label>

                <label class="block sm:mb-28 xs:mb-28 xxs:mb-28 mb-23">
                        <span class="block text-14 leading-5 text-black text-opacity-80 mb-10">
                            Şifre
                        </span>

                    <input
                        value=""
                        class="w-full rounded-6 border border-solid border-gainsboro bg-snow px-13 py-11 text-14 leading-5 text-black
                            placeholder:text-4sm placeholder:leading-6 placeholder:text-gray2 focus:outline-none"
                        placeholder="Şifrenizi yazın" type="password" name="password"
                    />
                </label>

                <label class="block sm:mb-28 xs:mb-28 xxs:mb-28 mb-23 visible sm:hidden xs:hidden xxs:hidden">
                    <span class="block text-14 leading-5 text-black text-opacity-80 mb-10">
                        Tekrar Şifre
                    </span>

                    <input
                        value=""
                        class="w-full rounded-6 border border-solid border-gainsboro bg-snow px-13 py-11 text-14 leading-5 text-black
                            placeholder:text-4sm placeholder:leading-6 placeholder:text-gray2 focus:outline-none"
                        placeholder="Şifrenizi yazın" type="password" name="password"
                    />
                </label>

                <fieldset class="grid grid-cols-2 gap-4 lg:gap-5 md:gap-5 2xl:gap-5 xl:gap-5 mb-23">
                    <label class="gender-radio block">
                        <input
                            value="1"
                            class="hidden" type="radio" name="gender"/>

                        <div
                            class="h-50 rounded-6 bg-white border border-solid border-gainsboro pl-13 pt-13 flex cursor-pointer">
                            <img src="img/male.svg" alt="male" width="36px" height="36px"/>
                            <span
                            class="ml-12 lg:ml-25 md:ml-25 2xl:ml-25 xl:ml-25 text-gray text-14 leading-5 font-semibold tracking-wider pt-3">
                                ERKEK
                            </span>
                        </div>
                    </label>

                    <label class="gender-radio block">
                        <input
                            value="2"
                            class="hidden" type="radio" name="gender"/>

                        <div
                            class="h-50 rounded-6 bg-white border border-solid border-gainsboro pl-13 pt-13 flex cursor-pointer">
                            <img src="img/female.svg" alt="female" width="36px" height="36px"/>
                            <span
                            class="ml-12 lg:ml-25 md:ml-25 2xl:ml-25 xl:ml-25 text-gray text-14 leading-5 font-semibold tracking-wider pt-3">
                                KADIN
                            </span>
                        </div>
                    </label>
                </fieldset>

                <fieldset class="sm:mb-10 xs:mb-10 xxs:mb-10 mb-22">
                    <label class="accept-checkbox flex items-center mb-17">
                        <input class="hidden" type="checkbox" name="accept"/>

                        <span
                            class="block w-20 h-20 rounded-6 border-2 border-solid border-light-silver1 mr-9 bg-no-repeat bg-center cursor-pointer"></span>

                        <p class="text-black text-12 leading-4">
                            Kampanyalardan haberdar olmak istiyorum
                        </p>
                    </label>

                    <label class="accept-checkbox flex sm:items-start xs:items-start xxs:items-start items-center">
                        <input checked="" class="hidden" type="checkbox" name="accept"/>

                        <span class="block w-20 h-20 rounded-6 border-2 border-solid border-light-silver1 mr-9 bg-no-repeat bg-center cursor-pointer"></span>

                        <p class="text-black text-12 leading-4">
                            <span role='button' class="underline mr-3">
                                Üyelik
                            </span>
                            ve
                            <span role='button' class="underline ml-3">
                                Gizlilik Sözleşmesi
                            </span>
                            `ni okudum, onaylıyorum.
                        </p>
                    </label>
                </fieldset>

                <button type="button"
                class="rounded-6 bg-vivid-cerise w-full h-40 text-base leading-5 text-white font-semibold flex items-center justify-center cursor-pointer focus:outline-none">
                    Üye olun
                </button>

                <!-- {error && <p>{error}</p>} -->
            </form>

            <div>
                <span class="block text-14 leading-5 text-black text-opacity-60 my-10 text-center">
                    ve ya
                </span>

                <div class="grid grid-cols-2 sm:gap-2 xs:gap-2 xxs:gap-2 gap-7 mb-22 sm:grid-cols-1 xs:grid-cols-1 xxs:grid-cols-1">
                    <button
                        class="rounded-6 bg-blue-yonder shadow-black-shadow-4md h-40 sm:pl-18 xs:pl-18 xxs:pl-18 pl-23 flex items-center">
                        <img
                            src="img/facebook-login.svg"
                            alt="facebook"
                            width="9px"
                            height="18px"
                        />

                        <span class="block sm:ml-17 xs:ml-17 xxs:ml-17 ml-22 sm:mr-13 xs:mr-13 xxs:mr-13 mr-14 bg-YInMn-blue w-1 h-26"></span>

                        <span class="text-11 leading-3 text-white text-left">
                            <span class="text-13 font-semibold block">
                                Facebook 
                            </span>
                            ile üye ol
                        </span>
                    </button>

                    <button
                        class="rounded-6 bg-bubbles shadow-black-shadow-4md border border-solid border-alice-blue h-40 pl-18 flex items-center">
                        <img
                            src="img/google.svg"
                            alt="google"
                            width="17px"
                            height="17px"
                        />

                        <span class="block sm:ml-12 xs:ml-12 xxs:ml-12 ml-19 sm:mr-13 xs:mr-13 xxs:mr-13 mr-14 bg-columbia-blue1 w-1 h-26"></span>

                        <span class="text-11 leading-3 text-slate-gray text-left">
                            <span class="text-13 font-semibold text-independence block">
                                Google
                            </span>
                            ile üye ol
                        </span>
                    </button>
                </div>

                <div class="flex justify-center">
                    <div class="text-black text-14 leading-5">
                        Hesabın varsa
                        <a title="giriş yap" href='/login.html'
                              class="text-vivid-cerise underline ml-4">
                            giriş yap
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class='pl-7 w-full h-250 hidden sm:block xs:block xxs:block visible sm:invisible xs:invisible xxs:invisible'>
            <img src="img/register.svg" alt='register' width="297px" height="250px" class='w-full h-full object-contain'/>
        </div>
    </div>
</div>

<!--if clicked "Üyelik", then open this modal-->
<!-- @@include('../modals/membership-conditions-modal.html') -->
<!--if clicked "Üyelik", then open this modal-->

@@include('../modals/buy-modal.html')